<a href="https://colab.research.google.com/github/proxima-j/Comp-440-Just-Run/blob/main/COMP_440_Just_Run.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Set Up

In [ ]:
!pip install textstat
!pip install transformers
!pip install torch
import textstat
from transformers import BertTokenizer, BertModel
from sklearn.metrics.pairwise import cosine_similarity
import torch
import pandas as pd
import numpy as np
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
model = BertModel.from_pretrained('bert-base-uncased')

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: textstat in /usr/local/lib/python3.10/dist-packages (0.7.3)
Requirement already satisfied: pyphen in /usr/local/lib/python3.10/dist-packages (from textstat) (0.14.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: transformers in /usr/local/lib/python3.10/dist-packages (4.28.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from transformers) (23.1)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (2022.10.31)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.10/dist-packages (from transformers) (4.65.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (1.22.4)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.13.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from transformers) (3.12.0)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from transformers) (2.27.1)
Requirement already satisfied: huggingface-hub<1.0,>=0.11.0 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.14.1)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (6.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.11.0->transformers) (4.5.0)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.11.0->transformers) (2023.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (3.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (1.26.15)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: torch in /usr/local/lib/python3.10/dist-packages (2.0.0+cu118)
Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (from torch) (3.1)
Requirement already satisfied: sympy in /usr/local/lib/python3.10/dist-packages (from torch) (1.11.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from torch) (3.1.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from torch) (4.5.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from torch) (3.12.0)
Requirement already satisfied: triton==2.0.0 in /usr/local/lib/python3.10/dist-packages (from torch) (2.0.0)
Requirement already satisfied: lit in /usr/local/lib/python3.10/dist-packages (from triton==2.0.0->torch) (16.0.2)
Requirement already satisfied: cmake in /usr/local/lib/python3.10/dist-packages (from triton==2.0.0->torch) (3.25.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->torch) (2.1.2)
Requirement already satisfied: mpmath>=0.19 in /usr/local/lib/python3.10/dist-packages (from sympy->torch) (1.3.0)

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.predictions.transform.LayerNorm.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.seq_relationship.bias', 'cls.seq_relationship.weight', 'cls.predictions.decoder.weight', 'cls.predictions.transform.dense.weight', 'cls.predictions.bias', 'cls.predictions.transform.dense.bias']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [ ]:
# mount google dirve
from google.colab import drive
drive.mount("/content/drive", force_remount=True)

Mounted at /content/drive

# Flesch Scores

## Functions

In [ ]:
# Read the aritcle and returns a dataframe containing all the scores and the standard deviation
def get_paragraph_scores(file_path):
    # read article
    with open(file_path, 'r') as f:
        human_news_2015 = f.read()

    # Split paragraphs by two new lines
    human_paragraphs2 = human_news_2015.split('\n\n') 
    human_paragraphs_no_title2 = human_paragraphs2[1:]

    # skip the last paragraph if it is empty
    if not human_paragraphs_no_title2[-1].strip():
        human_paragraphs_no_title2 = human_paragraphs_no_title2[:-1]

    human_scores2 = []
    human_paragraph_order=[]

    for i, paragraph in enumerate(human_paragraphs_no_title2):
        score = textstat.flesch_reading_ease(paragraph)
        human_scores2.append(score)
        human_paragraph_order.append(f"{i+1}")
        #show the first four words
        first_four_words = ' '.join(paragraph.split()[:4])
        #print(first_four_words)
        #print(f"Paragraph {i+1} Flesch Reading Ease score: {score}\n")
    
    # Calculate the standard deviation of the scores 
    human_std_dev2 = np.std(human_scores2)
    
    #store the score in a dataframe where scores as row and title as column name
    human_news_flesch_score2 = pd.DataFrame({"Flesch Score":human_scores2})
    human_news_flesch_score2["title"]=human_paragraphs2[0]
    human_news_flesch_score2["Paragraph Order"]=human_paragraph_order
    
    return (human_news_flesch_score2, human_std_dev2)

### Creating Dataset

## News

### News Article 1: 2015 smashes record for hottest year, final figures confirm

In [ ]:
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/News/(Human)2015 smashes record for hottest year, final figures confirm.txt'
df_news_1_human, std_dev = get_paragraph_scores(file_path)
df_news_1_human["prompt"] = "news"
df_news_1_human["id"] = "n1h"
df_news_1_human["generator"] = "human"
df_news_1_human

,Flesch Score,title,Paragraph Order,prompt,id,generator
0,35.61,"2015 smashes record for hottest year, final fi...",1,news,n1h,human
1,53.55,"2015 smashes record for hottest year, final fi...",2,news,n1h,human
2,72.36,"2015 smashes record for hottest year, final fi...",3,news,n1h,human
3,31.55,"2015 smashes record for hottest year, final fi...",4,news,n1h,human
4,52.87,"2015 smashes record for hottest year, final fi...",5,news,n1h,human
5,54.52,"2015 smashes record for hottest year, final fi...",6,news,n1h,human
6,57.61,"2015 smashes record for hottest year, final fi...",7,news,n1h,human
7,40.52,"2015 smashes record for hottest year, final fi...",8,news,n1h,human
8,67.08,"2015 smashes record for hottest year, final fi...",9,news,n1h,human
9,68.40,"2015 smashes record for hottest year, final fi...",10,news,n1h,human
10,54.22,"2015 smashes record for hottest year, final fi...",11,news,n1h,human
11,35.27,"2015 smashes record for hottest year, final fi...",12,news,n1h,human
12,42.04,"2015 smashes record for hottest year, final fi...",13,news,n1h,human
13,59.64,"2015 smashes record for hottest year, final fi...",14,news,n1h,human
14,70.97,"2015 smashes record for hottest year, final fi...",15,news,n1h,human

In [ ]:
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/News/(AI)2015 smashes record for hottest year, final figures confirm.txt'
df_news_1_ai, std_dev = get_paragraph_scores(file_path)
df_news_1_ai["prompt"] = "news"
df_news_1_ai["id"] = "n1a"
df_news_1_ai["generator"] = "ai"
df_news_1_ai

,Flesch Score,title,Paragraph Order,prompt,id,generator
0,49.86,"﻿2015 Smashes Record for Hottest Year, Final F...",1,news,n1a,ai
1,46.14,"﻿2015 Smashes Record for Hottest Year, Final F...",2,news,n1a,ai
2,60.18,"﻿2015 Smashes Record for Hottest Year, Final F...",3,news,n1a,ai
3,50.36,"﻿2015 Smashes Record for Hottest Year, Final F...",4,news,n1a,ai
4,37.84,"﻿2015 Smashes Record for Hottest Year, Final F...",5,news,n1a,ai
5,57.10,"﻿2015 Smashes Record for Hottest Year, Final F...",6,news,n1a,ai

### News Article 2: Bigger Chickens Bring a Tough New Problem_ ‘Woody Breast’

In [ ]:
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/News/(Human)Bigger Chickens Bring a Tough New Problem_ ‘Woody Breast’.txt'
df_news_2_human, std_dev = get_paragraph_scores(file_path)
df_news_2_human["prompt"] = "news"
df_news_2_human["id"] = "n2h"
df_news_2_human["generator"] = "human"
df_news_2_human

,Flesch Score,title,Paragraph Order,prompt,id,generator
0,57.61,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,1,news,n2h,human
1,78.79,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,2,news,n2h,human
2,71.85,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,3,news,n2h,human
3,67.08,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,4,news,n2h,human
4,74.49,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,5,news,n2h,human
5,59.64,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,6,news,n2h,human
6,64.41,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,7,news,n2h,human
7,48.47,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,8,news,n2h,human
8,71.14,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,9,news,n2h,human
9,65.56,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,10,news,n2h,human
10,59.33,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,11,news,n2h,human
11,86.03,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,12,news,n2h,human
12,80.96,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,13,news,n2h,human
13,58.62,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,14,news,n2h,human
14,46.61,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,15,news,n2h,human
15,74.19,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,16,news,n2h,human
16,55.74,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,17,news,n2h,human
17,55.74,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,18,news,n2h,human
18,80.78,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,19,news,n2h,human
19,55.24,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,20,news,n2h,human
20,72.16,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,21,news,n2h,human
21,70.13,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,22,news,n2h,human
22,87.11,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,23,news,n2h,human
23,43.40,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,24,news,n2h,human
24,75.84,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,25,news,n2h,human

In [ ]:
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/News/(AI)Bigger Chickens Bring a Tough New Problem_ ‘Woody Breast’.txt'
df_news_2_ai, std_dev = get_paragraph_scores(file_path)
df_news_2_ai["prompt"] = "news"
df_news_2_ai["id"] = "n2a"
df_news_2_ai["generator"] = "ai"
df_news_2_ai

,Flesch Score,title,Paragraph Order,prompt,id,generator
0,63.73,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,1,news,n2a,ai
1,62.38,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,2,news,n2a,ai
2,52.53,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,3,news,n2a,ai
3,56.29,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,4,news,n2a,ai
4,61.97,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,5,news,n2a,ai
5,41.40,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,6,news,n2a,ai
6,40.69,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,7,news,n2a,ai

### News Article 3: F1 circuits could withdraw from rescheduled 2020 calendar due to fallout from coronavirus pandemic

In [ ]:
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/News/(Human)F1 circuits could withdraw from rescheduled 2020 calendar due to fallout from coronavirus pandemic.txt'
df_news_3_human, std_dev = get_paragraph_scores(file_path)
df_news_3_human["prompt"] = "news"
df_news_3_human["id"] = "n3h"
df_news_3_human["generator"] = "human"
df_news_3_human

,Flesch Score,title,Paragraph Order,prompt,id,generator
0,52.87,﻿F1 circuits could withdraw from rescheduled 2...,1,news,n3h,human
1,42.38,﻿F1 circuits could withdraw from rescheduled 2...,2,news,n3h,human
2,65.73,﻿F1 circuits could withdraw from rescheduled 2...,3,news,n3h,human
3,41.71,﻿F1 circuits could withdraw from rescheduled 2...,4,news,n3h,human
4,85.02,﻿F1 circuits could withdraw from rescheduled 2...,5,news,n3h,human
5,77.91,﻿F1 circuits could withdraw from rescheduled 2...,6,news,n3h,human
6,80.62,﻿F1 circuits could withdraw from rescheduled 2...,7,news,n3h,human
7,37.98,﻿F1 circuits could withdraw from rescheduled 2...,8,news,n3h,human
8,46.44,﻿F1 circuits could withdraw from rescheduled 2...,9,news,n3h,human
9,33.25,﻿F1 circuits could withdraw from rescheduled 2...,10,news,n3h,human
10,40.69,﻿F1 circuits could withdraw from rescheduled 2...,11,news,n3h,human
11,37.47,﻿F1 circuits could withdraw from rescheduled 2...,12,news,n3h,human
12,54.90,﻿F1 circuits could withdraw from rescheduled 2...,13,news,n3h,human
13,110.06,﻿F1 circuits could withdraw from rescheduled 2...,14,news,n3h,human
14,78.93,﻿F1 circuits could withdraw from rescheduled 2...,15,news,n3h,human

In [ ]:
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/News/(AI)F1 circuits could withdraw from rescheduled 2020 calendar due to fallout from coronavirus pandemic.txt'
df_news_3_ai, std_dev = get_paragraph_scores(file_path)
df_news_3_ai["prompt"] = "news"
df_news_3_ai["id"] = "n3a"
df_news_3_ai["generator"] = "ai"
df_news_3_ai

,Flesch Score,title,Paragraph Order,prompt,id,generator
0,46.95,﻿F1 circuits could withdraw from rescheduled 2...,1,news,n3a,ai
1,57.61,﻿F1 circuits could withdraw from rescheduled 2...,2,news,n3a,ai
2,70.13,﻿F1 circuits could withdraw from rescheduled 2...,3,news,n3a,ai
3,56.08,﻿F1 circuits could withdraw from rescheduled 2...,4,news,n3a,ai
4,67.79,﻿F1 circuits could withdraw from rescheduled 2...,5,news,n3a,ai
5,60.99,﻿F1 circuits could withdraw from rescheduled 2...,6,news,n3a,ai
6,46.81,﻿F1 circuits could withdraw from rescheduled 2...,7,news,n3a,ai

### News Article 4: Richard Scudamore says Premier League is _not a charity_ following £5bn TV deal

In [ ]:
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/News/(Human)News Article 4.txt'
df_news_4_human, std_dev = get_paragraph_scores(file_path)
df_news_4_human["prompt"] = "news"
df_news_4_human["id"] = "n4h"
df_news_4_human["generator"] = "human"
df_news_4_human

,Flesch Score,title,Paragraph Order,prompt,id,generator
0,47.46,Richard Scudamore says Premier League is 'not ...,1,news,n4h,human
1,56.25,Richard Scudamore says Premier League is 'not ...,2,news,n4h,human
2,34.94,Richard Scudamore says Premier League is 'not ...,3,news,n4h,human
3,56.26,Richard Scudamore says Premier League is 'not ...,4,news,n4h,human
4,90.46,Richard Scudamore says Premier League is 'not ...,5,news,n4h,human
5,46.44,Richard Scudamore says Premier League is 'not ...,6,news,n4h,human
6,35.95,Richard Scudamore says Premier League is 'not ...,7,news,n4h,human
7,72.66,Richard Scudamore says Premier League is 'not ...,8,news,n4h,human
8,68.44,Richard Scudamore says Premier League is 'not ...,9,news,n4h,human
9,82.99,Richard Scudamore says Premier League is 'not ...,10,news,n4h,human
10,107.01,Richard Scudamore says Premier League is 'not ...,11,news,n4h,human
11,73.85,Richard Scudamore says Premier League is 'not ...,12,news,n4h,human
12,70.81,Richard Scudamore says Premier League is 'not ...,13,news,n4h,human
13,75.50,Richard Scudamore says Premier League is 'not ...,14,news,n4h,human
14,56.59,Richard Scudamore says Premier League is 'not ...,15,news,n4h,human
15,38.66,Richard Scudamore says Premier League is 'not ...,16,news,n4h,human
16,41.70,Richard Scudamore says Premier League is 'not ...,17,news,n4h,human
17,80.62,Richard Scudamore says Premier League is 'not ...,18,news,n4h,human
18,78.93,Richard Scudamore says Premier League is 'not ...,19,news,n4h,human
19,90.09,Richard Scudamore says Premier League is 'not ...,20,news,n4h,human
20,75.88,Richard Scudamore says Premier League is 'not ...,21,news,n4h,human
21,53.55,Richard Scudamore says Premier League is 'not ...,22,news,n4h,human
22,67.08,Richard Scudamore says Premier League is 'not ...,23,news,n4h,human
23,74.53,Richard Scudamore says Premier League is 'not ...,24,news,n4h,human
24,97.20,Richard Scudamore says Premier League is 'not ...,25,news,n4h,human
25,31.55,Richard Scudamore says Premier League is 'not ...,26,news,n4h,human
26,57.61,Richard Scudamore says Premier League is 'not ...,27,news,n4h,human
27,82.99,Richard Scudamore says Premier League is 'not ...,28,news,n4h,human
28,47.46,Richard Scudamore says Premier League is 'not ...,29,news,n4h,human

In [ ]:
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/News/(AI)Richard Scudamore says Premier League is _not a charity_ following £5bn TV deal.txt'
df_news_4_ai, std_dev = get_paragraph_scores(file_path)
df_news_4_ai["prompt"] = "news"
df_news_4_ai["id"] = "n4a"
df_news_4_ai["generator"] = "ai"
df_news_4_ai

,Flesch Score,title,Paragraph Order,prompt,id,generator
0,59.64,﻿Richard Scudamore says Premier League is 'not...,1,news,n4a,ai
1,86.30,﻿Richard Scudamore says Premier League is 'not...,2,news,n4a,ai
2,74.53,﻿Richard Scudamore says Premier League is 'not...,3,news,n4a,ai
3,61.67,﻿Richard Scudamore says Premier League is 'not...,4,news,n4a,ai
4,53.55,﻿Richard Scudamore says Premier League is 'not...,5,news,n4a,ai
5,68.40,﻿Richard Scudamore says Premier League is 'not...,6,news,n4a,ai
6,44.58,﻿Richard Scudamore says Premier League is 'not...,7,news,n4a,ai
7,63.02,﻿Richard Scudamore says Premier League is 'not...,8,news,n4a,ai
8,59.98,﻿Richard Scudamore says Premier League is 'not...,9,news,n4a,ai

### News Article 5: Stocks Fall, Wiping Out Gains for 2018

In [ ]:
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/News/(Human)Stocks Fall, Wiping Out Gains for 2018.txt'
df_news_5_human, std_dev = get_paragraph_scores(file_path)
df_news_5_human["prompt"] = "news"
df_news_5_human["id"] = "n5h"
df_news_5_human["generator"] = "human"
df_news_5_human

,Flesch Score,title,Paragraph Order,prompt,id,generator
0,71.65,"Stocks Fall, Wiping Out Gains for 2018",1,news,n5h,human
1,41.53,"Stocks Fall, Wiping Out Gains for 2018",2,news,n5h,human
2,49.65,"Stocks Fall, Wiping Out Gains for 2018",3,news,n5h,human
3,18.70,"Stocks Fall, Wiping Out Gains for 2018",4,news,n5h,human
4,70.84,"Stocks Fall, Wiping Out Gains for 2018",5,news,n5h,human
5,38.32,"Stocks Fall, Wiping Out Gains for 2018",6,news,n5h,human
6,57.95,"Stocks Fall, Wiping Out Gains for 2018",7,news,n5h,human
7,57.30,"Stocks Fall, Wiping Out Gains for 2018",8,news,n5h,human
8,69.79,"Stocks Fall, Wiping Out Gains for 2018",9,news,n5h,human
9,63.53,"Stocks Fall, Wiping Out Gains for 2018",10,news,n5h,human
10,56.89,"Stocks Fall, Wiping Out Gains for 2018",11,news,n5h,human
11,56.76,"Stocks Fall, Wiping Out Gains for 2018",12,news,n5h,human
12,72.16,"Stocks Fall, Wiping Out Gains for 2018",13,news,n5h,human

In [ ]:
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/News/(AI)Stocks Fall, Wiping Out Gains for 2018.txt'
df_news_5_ai, std_dev = get_paragraph_scores(file_path)
df_news_5_ai["prompt"] = "news"
df_news_5_ai["id"] = "n5a"
df_news_5_ai["generator"] = "ai"
df_news_5_ai

,Flesch Score,title,Paragraph Order,prompt,id,generator
0,64.24,"﻿Stocks Fall, Wiping Out Gains for 2018",1,news,n5a,ai
1,60.28,"﻿Stocks Fall, Wiping Out Gains for 2018",2,news,n5a,ai
2,61.33,"﻿Stocks Fall, Wiping Out Gains for 2018",3,news,n5a,ai
3,59.98,"﻿Stocks Fall, Wiping Out Gains for 2018",4,news,n5a,ai
4,51.68,"﻿Stocks Fall, Wiping Out Gains for 2018",5,news,n5a,ai
5,53.24,"﻿Stocks Fall, Wiping Out Gains for 2018",6,news,n5a,ai

## Medium Blog Post

### Medium Blog Post 1： AR _ VR _ MR Technology Trends Review

In [ ]:
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/Medium Blog Post/(Human)AR _ VR _ MR Technology Trends Review.txt'
df_blog_1_human, std_dev = get_paragraph_scores(file_path)
df_blog_1_human["prompt"] = "blog"
df_blog_1_human["id"] = "b1h"
df_blog_1_human["generator"] = "human"
df_blog_1_human

,Flesch Score,title,Paragraph Order,prompt,id,generator
0,67.08,﻿AR & VR & MR Technology Trends Review,1,blog,b1h,human
1,43.06,﻿AR & VR & MR Technology Trends Review,2,blog,b1h,human
2,46.10,﻿AR & VR & MR Technology Trends Review,3,blog,b1h,human
3,61.16,﻿AR & VR & MR Technology Trends Review,4,blog,b1h,human
4,44.75,﻿AR & VR & MR Technology Trends Review,5,blog,b1h,human
5,79.09,﻿AR & VR & MR Technology Trends Review,6,blog,b1h,human
6,49.01,﻿AR & VR & MR Technology Trends Review,7,blog,b1h,human
7,65.42,﻿AR & VR & MR Technology Trends Review,8,blog,b1h,human
8,58.58,﻿AR & VR & MR Technology Trends Review,9,blog,b1h,human
9,65.52,﻿AR & VR & MR Technology Trends Review,10,blog,b1h,human
10,64.41,﻿AR & VR & MR Technology Trends Review,11,blog,b1h,human
11,50.67,﻿AR & VR & MR Technology Trends Review,12,blog,b1h,human
12,48.30,﻿AR & VR & MR Technology Trends Review,13,blog,b1h,human
13,67.08,﻿AR & VR & MR Technology Trends Review,14,blog,b1h,human
14,65.52,﻿AR & VR & MR Technology Trends Review,15,blog,b1h,human
15,65.05,﻿AR & VR & MR Technology Trends Review,16,blog,b1h,human
16,23.77,﻿AR & VR & MR Technology Trends Review,17,blog,b1h,human
17,71.85,﻿AR & VR & MR Technology Trends Review,18,blog,b1h,human
18,76.05,﻿AR & VR & MR Technology Trends Review,19,blog,b1h,human
19,49.49,﻿AR & VR & MR Technology Trends Review,20,blog,b1h,human
20,51.89,﻿AR & VR & MR Technology Trends Review,21,blog,b1h,human

In [ ]:
print(std_dev)

12.810367417786454

In [ ]:
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/Medium Blog Post/(AI)AR _ VR _ MR Technology Trends Review.txt'
df_blog_1_ai, std_dev = get_paragraph_scores(file_path)
df_blog_1_ai["prompt"] = "blog"
df_blog_1_ai["id"] = "b1a"
df_blog_1_ai["generator"] = "ai"
df_blog_1_ai

,Flesch Score,title,Paragraph Order,prompt,id,generator
0,36.28,AR & VR & MR Technology Trends Review,1,blog,b1a,ai
1,56.45,AR & VR & MR Technology Trends Review,2,blog,b1a,ai
2,42.41,AR & VR & MR Technology Trends Review,3,blog,b1a,ai
3,49.65,AR & VR & MR Technology Trends Review,4,blog,b1a,ai
4,50.16,AR & VR & MR Technology Trends Review,5,blog,b1a,ai

In [ ]:
print(std_dev)

6.961272872111824

### Medium Blog Post 2： Blockchain Bling_ How NFTs Are Revolutionizing The Luxury Industry (outlier!!!)

In [ ]:
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/Medium Blog Post/(Human)Blockchain Bling_ How NFTs Are Revolutionizing The Luxury Industry.txt'
df_blog_2_human, std_dev = get_paragraph_scores(file_path)
df_blog_2_human["prompt"] = "blog"
df_blog_2_human["id"] = "b2h"
df_blog_2_human["generator"] = "human"
df_blog_2_human

,Flesch Score,title,Paragraph Order,prompt,id,generator
0,46.40,Blockchain Bling: How NFTs Are Revolutionizing...,1,blog,b2h,human
1,32.22,Blockchain Bling: How NFTs Are Revolutionizing...,2,blog,b2h,human
2,45.29,Blockchain Bling: How NFTs Are Revolutionizing...,3,blog,b2h,human
3,53.55,Blockchain Bling: How NFTs Are Revolutionizing...,4,blog,b2h,human
4,56.25,Blockchain Bling: How NFTs Are Revolutionizing...,5,blog,b2h,human
5,40.89,Blockchain Bling: How NFTs Are Revolutionizing...,6,blog,b2h,human
6,25.73,Blockchain Bling: How NFTs Are Revolutionizing...,7,blog,b2h,human
7,37.94,Blockchain Bling: How NFTs Are Revolutionizing...,8,blog,b2h,human
8,39.37,Blockchain Bling: How NFTs Are Revolutionizing...,9,blog,b2h,human
9,44.75,Blockchain Bling: How NFTs Are Revolutionizing...,10,blog,b2h,human
10,60.24,Blockchain Bling: How NFTs Are Revolutionizing...,11,blog,b2h,human
11,54.93,Blockchain Bling: How NFTs Are Revolutionizing...,12,blog,b2h,human
12,64.04,Blockchain Bling: How NFTs Are Revolutionizing...,13,blog,b2h,human
13,31.92,Blockchain Bling: How NFTs Are Revolutionizing...,14,blog,b2h,human

In [ ]:
print(std_dev)

11.014441725780397

In [ ]:
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/Medium Blog Post/(AI)Blockchain Bling_ How NFTs Are Revolutionizing The Luxury Industry.txt'
df_blog_2_ai, std_dev = get_paragraph_scores(file_path)
df_blog_2_ai["prompt"] = "blog"
df_blog_2_ai["id"] = "b2a"
df_blog_2_ai["generator"] = "ai"
df_blog_2_ai

,Flesch Score,title,Paragraph Order,prompt,id,generator
0,38.15,﻿Blockchain Bling: How NFTs Are Revolutionizin...,1,blog,b2a,ai
1,54.42,﻿Blockchain Bling: How NFTs Are Revolutionizin...,2,blog,b2a,ai
2,56.59,﻿Blockchain Bling: How NFTs Are Revolutionizin...,3,blog,b2a,ai
3,63.90,﻿Blockchain Bling: How NFTs Are Revolutionizin...,4,blog,b2a,ai
4,53.41,﻿Blockchain Bling: How NFTs Are Revolutionizin...,5,blog,b2a,ai
5,23.05,﻿Blockchain Bling: How NFTs Are Revolutionizin...,6,blog,b2a,ai
6,19.06,﻿Blockchain Bling: How NFTs Are Revolutionizin...,7,blog,b2a,ai

In [ ]:
print(std_dev)

16.2424626161409

### Medium Blog Post 3： How Will the CryptoFlix Film Market Place Work

In [ ]:
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/Medium Blog Post/(Human)How Will the CryptoFlix Film Market Place Work_.txt'
df_blog_3_human, std_dev = get_paragraph_scores(file_path)
df_blog_3_human["prompt"] = "blog"
df_blog_3_human["id"] = "b3h"
df_blog_3_human["generator"] = "human"
df_blog_3_human

,Flesch Score,title,Paragraph Order,prompt,id,generator
0,67.42,﻿How Will the CryptoFlix Film Market Place Work?,1,blog,b3h,human
1,57.81,﻿How Will the CryptoFlix Film Market Place Work?,2,blog,b3h,human
2,30.20,﻿How Will the CryptoFlix Film Market Place Work?,3,blog,b3h,human
3,78.25,﻿How Will the CryptoFlix Film Market Place Work?,4,blog,b3h,human
4,75.71,﻿How Will the CryptoFlix Film Market Place Work?,5,blog,b3h,human
5,49.49,﻿How Will the CryptoFlix Film Market Place Work?,6,blog,b3h,human
6,36.96,﻿How Will the CryptoFlix Film Market Place Work?,7,blog,b3h,human
7,42.04,﻿How Will the CryptoFlix Film Market Place Work?,8,blog,b3h,human
8,121.22,﻿How Will the CryptoFlix Film Market Place Work?,9,blog,b3h,human
9,51.52,﻿How Will the CryptoFlix Film Market Place Work?,10,blog,b3h,human
10,32.57,﻿How Will the CryptoFlix Film Market Place Work?,11,blog,b3h,human
11,65.90,﻿How Will the CryptoFlix Film Market Place Work?,12,blog,b3h,human
12,46.44,﻿How Will the CryptoFlix Film Market Place Work?,13,blog,b3h,human
13,77.23,﻿How Will the CryptoFlix Film Market Place Work?,14,blog,b3h,human
14,118.18,﻿How Will the CryptoFlix Film Market Place Work?,15,blog,b3h,human

In [ ]:
print(std_dev)

26.822009320705263

In [ ]:
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/Medium Blog Post/(AI)How Will the CryptoFlix Film Market Place Work_.txt'
df_blog_3_ai, std_dev = get_paragraph_scores(file_path)
df_blog_3_ai["prompt"] = "blog"
df_blog_3_ai["id"] = "b3a"
df_blog_3_ai["generator"] = "ai"
df_blog_3_ai

,Flesch Score,title,Paragraph Order,prompt,id,generator
0,54.42,﻿How Will the CryptoFlix Film Market Place Work?,1,blog,b3a,ai
1,60.65,﻿How Will the CryptoFlix Film Market Place Work?,2,blog,b3a,ai
2,49.45,﻿How Will the CryptoFlix Film Market Place Work?,3,blog,b3a,ai
3,45.09,﻿How Will the CryptoFlix Film Market Place Work?,4,blog,b3a,ai
4,60.65,﻿How Will the CryptoFlix Film Market Place Work?,5,blog,b3a,ai
5,61.97,﻿How Will the CryptoFlix Film Market Place Work?,6,blog,b3a,ai
6,40.72,﻿How Will the CryptoFlix Film Market Place Work?,7,blog,b3a,ai

In [ ]:
print(std_dev)

7.791461312729153

### Medium Blog Post 4： The upside of a downturn

In [ ]:
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/Medium Blog Post/(Human)The upside of a downturn_.txt'
df_blog_4_human, std_dev = get_paragraph_scores(file_path)
df_blog_4_human["prompt"] = "blog"
df_blog_4_human["id"] = "b4h"
df_blog_4_human["generator"] = "human"
df_blog_4_human

,Flesch Score,title,Paragraph Order,prompt,id,generator
0,78.25,The upside of a downturn.,1,blog,b4h,human
1,63.39,The upside of a downturn.,2,blog,b4h,human
2,54.63,The upside of a downturn.,3,blog,b4h,human
3,55.24,The upside of a downturn.,4,blog,b4h,human
4,39.50,The upside of a downturn.,5,blog,b4h,human
5,53.37,The upside of a downturn.,6,blog,b4h,human
6,75.20,The upside of a downturn.,7,blog,b4h,human
7,74.19,The upside of a downturn.,8,blog,b4h,human
8,60.35,The upside of a downturn.,9,blog,b4h,human
9,35.98,The upside of a downturn.,10,blog,b4h,human
10,51.86,The upside of a downturn.,11,blog,b4h,human
11,27.66,The upside of a downturn.,12,blog,b4h,human
12,53.81,The upside of a downturn.,13,blog,b4h,human
13,53.92,The upside of a downturn.,14,blog,b4h,human
14,58.28,The upside of a downturn.,15,blog,b4h,human
15,49.86,The upside of a downturn.,16,blog,b4h,human
16,43.19,The upside of a downturn.,17,blog,b4h,human
17,55.24,The upside of a downturn.,18,blog,b4h,human
18,82.65,The upside of a downturn.,19,blog,b4h,human
19,62.38,The upside of a downturn.,20,blog,b4h,human
20,82.65,The upside of a downturn.,21,blog,b4h,human
21,74.53,The upside of a downturn.,22,blog,b4h,human
22,73.00,The upside of a downturn.,23,blog,b4h,human
23,61.50,The upside of a downturn.,24,blog,b4h,human
24,63.39,The upside of a downturn.,25,blog,b4h,human

In [ ]:
print(std_dev)

13.976440725735577

In [ ]:
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/Medium Blog Post/(AI)The upside of a downturn_.txt'
df_blog_4_ai, std_dev = get_paragraph_scores(file_path)
df_blog_4_ai["prompt"] = "blog"
df_blog_4_ai["id"] = "b4a"
df_blog_4_ai["generator"] = "ai"
df_blog_4_ai

,Flesch Score,title,Paragraph Order,prompt,id,generator
0,64.20,﻿The Upside of a Downturn,1,blog,b4a,ai
1,59.94,﻿The Upside of a Downturn,2,blog,b4a,ai
2,67.04,﻿The Upside of a Downturn,3,blog,b4a,ai
3,41.70,﻿The Upside of a Downturn,4,blog,b4a,ai
4,39.53,﻿The Upside of a Downturn,5,blog,b4a,ai
5,44.44,﻿The Upside of a Downturn,6,blog,b4a,ai
6,37.30,﻿The Upside of a Downturn,7,blog,b4a,ai
7,33.58,﻿The Upside of a Downturn,8,blog,b4a,ai

In [ ]:
print(std_dev)

12.3101431119829

#### Tend to delete this chunk ?

In [ ]:
# Define the path to the text file in Colab
#content/drive/My Drive/folder name/ file name or just copy path from the left panel
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/News/(AI)2015 smashes record for hottest year, final figures confirm.txt'

# read article
with open(file_path, 'r') as f:
    ai_news_2015 = f.read()

In [ ]:
# Split paragraphs by two new lines
ai_paragraphs1 = ai_news_2015.split('\n\n') 
ai_paragraphs_no_title1 = ai_paragraphs1[1:]

# skip the last paragraph if it is empty
if not ai_paragraphs_no_title1[-1].strip():
    ai_paragraphs_no_title1 = ai_paragraphs_no_title1[:-1]

In [ ]:
# create an empty list to store the scores for each paragraph
ai_scores1 = []

# Print the flesch score of each paragraph
for i, paragraph in enumerate(ai_paragraphs_no_title1):
    score = textstat.flesch_reading_ease(paragraph)
    ai_scores1.append(score)
    #show the first four words
    first_four_words = ' '.join(paragraph.split()[:4])
    print(first_four_words)
    print(f"Paragraph {i+1} Flesch Reading Ease score: {score}\n")

The latest data from
Paragraph 1 Flesch Reading Ease score: 49.86

The data, released on
Paragraph 2 Flesch Reading Ease score: 46.14

The record-breaking temperatures seen
Paragraph 3 Flesch Reading Ease score: 60.18

Climate change experts have
Paragraph 4 Flesch Reading Ease score: 50.36

The latest data has
Paragraph 5 Flesch Reading Ease score: 37.84

The Met Office has
Paragraph 6 Flesch Reading Ease score: 57.1

In [ ]:
# Calculate the standard deviation of the scores 
ai_std_dev1 = np.std(ai_scores1)
print(ai_std_dev1)

7.263971977430039

In [ ]:
#store the score in a dataframe where scores as row and title as column name
ai_news_flesch_score1 = pd.DataFrame({ai_paragraphs1[0]:ai_scores1})
ai_news_flesch_score1
#print(ai_news_flesch_score.columns)

   ﻿2015 Smashes Record for Hottest Year, Final Figures Confirm
0                                              49.86
1                                              46.14
2                                              60.18
3                                              50.36
4                                              37.84
5                                              57.10

### Medium Blog Post 5： Travel Highlights in Portugal_ Lisbon to Porto

In [ ]:
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/Medium Blog Post/(Human)Travel Highlights in Portugal_ Lisbon to Porto.txt'
df_blog_5_human, std_dev = get_paragraph_scores(file_path)
df_blog_5_human["prompt"] = "blog"
df_blog_5_human["id"] = "b5h"
df_blog_5_human["generator"] = "human"
df_blog_5_human

,Flesch Score,title,Paragraph Order,prompt,id,generator
0,70.13,Travel Highlights in Portugal: Lisbon to Porto,1,blog,b5h,human
1,62.38,Travel Highlights in Portugal: Lisbon to Porto,2,blog,b5h,human
2,63.83,Travel Highlights in Portugal: Lisbon to Porto,3,blog,b5h,human
3,60.04,Travel Highlights in Portugal: Lisbon to Porto,4,blog,b5h,human
4,52.23,Travel Highlights in Portugal: Lisbon to Porto,5,blog,b5h,human
5,56.29,Travel Highlights in Portugal: Lisbon to Porto,6,blog,b5h,human
6,61.70,Travel Highlights in Portugal: Lisbon to Porto,7,blog,b5h,human
7,80.41,Travel Highlights in Portugal: Lisbon to Porto,8,blog,b5h,human
8,71.85,Travel Highlights in Portugal: Lisbon to Porto,9,blog,b5h,human
9,71.95,Travel Highlights in Portugal: Lisbon to Porto,10,blog,b5h,human
10,62.51,Travel Highlights in Portugal: Lisbon to Porto,11,blog,b5h,human
11,74.93,Travel Highlights in Portugal: Lisbon to Porto,12,blog,b5h,human
12,67.89,Travel Highlights in Portugal: Lisbon to Porto,13,blog,b5h,human
13,64.41,Travel Highlights in Portugal: Lisbon to Porto,14,blog,b5h,human
14,68.81,Travel Highlights in Portugal: Lisbon to Porto,15,blog,b5h,human
15,62.72,Travel Highlights in Portugal: Lisbon to Porto,16,blog,b5h,human
16,79.30,Travel Highlights in Portugal: Lisbon to Porto,17,blog,b5h,human

In [ ]:
print(std_dev)

7.429852532218861

In [ ]:
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/Medium Blog Post/(AI)Travel Highlights in Portugal_ Lisbon to Porto.txt'
df_blog_5_ai, std_dev = get_paragraph_scores(file_path)
df_blog_5_ai["prompt"] = "blog"
df_blog_5_ai["id"] = "b5a"
df_blog_5_ai["generator"] = "ai"
df_blog_5_ai

,Flesch Score,title,Paragraph Order,prompt,id,generator
0,57.91,Travel Highlights in Portugal: Lisbon to Porto,1,blog,b5a,ai
1,73.17,Travel Highlights in Portugal: Lisbon to Porto,2,blog,b5a,ai
2,54.22,Travel Highlights in Portugal: Lisbon to Porto,3,blog,b5a,ai
3,52.70,Travel Highlights in Portugal: Lisbon to Porto,4,blog,b5a,ai
4,45.05,Travel Highlights in Portugal: Lisbon to Porto,5,blog,b5a,ai
5,44.03,Travel Highlights in Portugal: Lisbon to Porto,6,blog,b5a,ai
6,54.73,Travel Highlights in Portugal: Lisbon to Porto,7,blog,b5a,ai
7,78.59,Travel Highlights in Portugal: Lisbon to Porto,8,blog,b5a,ai
8,66.44,Travel Highlights in Portugal: Lisbon to Porto,9,blog,b5a,ai
9,72.87,Travel Highlights in Portugal: Lisbon to Porto,10,blog,b5a,ai
10,64.54,Travel Highlights in Portugal: Lisbon to Porto,11,blog,b5a,ai
11,62.68,Travel Highlights in Portugal: Lisbon to Porto,12,blog,b5a,ai
12,61.67,Travel Highlights in Portugal: Lisbon to Porto,13,blog,b5a,ai

In [ ]:

print(std_dev)

10.184543225400892

## Language Proficiency Exam

### LPE 1: A person you know is planning to move to your town or city

In [ ]:
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/Language Proficiency Exam/(Human)A person you know is planning to move to your town or city._.txt'
df_exam_1_human, std_dev = get_paragraph_scores(file_path)
df_exam_1_human["prompt"] = "exam"
df_exam_1_human["id"] = "e1h"
df_exam_1_human["generator"] = "human"
df_exam_1_human

,Flesch Score,title,Paragraph Order,prompt,id,generator
0,86.03,A person you know is planning to move to your ...,1,exam,e1h,human
1,54.63,A person you know is planning to move to your ...,2,exam,e1h,human
2,81.22,A person you know is planning to move to your ...,3,exam,e1h,human
3,90.90,A person you know is planning to move to your ...,4,exam,e1h,human
4,74.69,A person you know is planning to move to your ...,5,exam,e1h,human

In [ ]:
print(std_dev)

12.626100902495592

In [ ]:
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/Language Proficiency Exam/(AI)A person you know is planning to move to your town or city._.txt'
df_exam_1_ai, std_dev = get_paragraph_scores(file_path)
df_exam_1_ai["prompt"] = "exam"
df_exam_1_ai["id"] = "e1a"
df_exam_1_ai["generator"] = "ai"
df_exam_1_ai

,Flesch Score,title,Paragraph Order,prompt,id,generator
0,73.51,﻿A person you know is planning to move to your...,1,exam,e1a,ai
1,51.89,﻿A person you know is planning to move to your...,2,exam,e1a,ai
2,60.35,﻿A person you know is planning to move to your...,3,exam,e1a,ai
3,63.29,﻿A person you know is planning to move to your...,4,exam,e1a,ai
4,47.49,﻿A person you know is planning to move to your...,5,exam,e1a,ai
5,56.08,﻿A person you know is planning to move to your...,6,exam,e1a,ai

In [ ]:
print(std_dev)

8.386529708738625

### LPE 2: Businesses should hire employees for their entire lives

In [ ]:
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/Language Proficiency Exam/(Human)Businesses should hire employees for their entire lives._.txt'
df_exam_2_human, std_dev = get_paragraph_scores(file_path)
df_exam_2_human["prompt"] = "exam"
df_exam_2_human["id"] = "e2h"
df_exam_2_human["generator"] = "human"
df_exam_2_human

,Flesch Score,title,Paragraph Order,prompt,id,generator
0,44.27,Businesses should hire employees for their ent...,1,exam,e2h,human
1,49.15,Businesses should hire employees for their ent...,2,exam,e2h,human
2,54.52,Businesses should hire employees for their ent...,3,exam,e2h,human
3,66.07,Businesses should hire employees for their ent...,4,exam,e2h,human
4,53.55,Businesses should hire employees for their ent...,5,exam,e2h,human

In [ ]:
print(std_dev)

7.254825704315712

In [ ]:
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/Language Proficiency Exam/(AI)Businesses should hire employees for their entire lives_.txt'
df_exam_2_ai, std_dev = get_paragraph_scores(file_path)
df_exam_2_ai["prompt"] = "exam"
df_exam_2_ai["id"] = "e2a"
df_exam_2_ai["generator"] = "ai"
df_exam_2_ai

,Flesch Score,title,Paragraph Order,prompt,id,generator
0,45.76,﻿Businesses should hire employees for their en...,1,exam,e2a,ai
1,42.21,﻿Businesses should hire employees for their en...,2,exam,e2a,ai
2,51.38,﻿Businesses should hire employees for their en...,3,exam,e2a,ai
3,50.16,﻿Businesses should hire employees for their en...,4,exam,e2a,ai
4,36.28,﻿Businesses should hire employees for their en...,5,exam,e2a,ai

In [ ]:
print(std_dev)

5.5064558474576

### LPE 3: Do you agree or disagree with the following statement_ Telephones

In [ ]:
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/Language Proficiency Exam/(Human)Do you agree or disagree with the following statement_ Telephones.txt'
df_exam_3_human, std_dev = get_paragraph_scores(file_path)
df_exam_3_human["prompt"] = "exam"
df_exam_3_human["id"] = "e3h"
df_exam_3_human["generator"] = "human"
df_exam_3_human

,Flesch Score,title,Paragraph Order,prompt,id,generator
0,44.44,Do you agree or disagree with the following st...,1,exam,e3h,human
1,57.91,Do you agree or disagree with the following st...,2,exam,e3h,human
2,67.28,Do you agree or disagree with the following st...,3,exam,e3h,human
3,38.32,Do you agree or disagree with the following st...,4,exam,e3h,human

In [ ]:
print(std_dev)

11.321460539612369

In [ ]:
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/Language Proficiency Exam/(AI)Do you agree or disagree with the following statement_ Telephones.txt'
df_exam_3_ai, std_dev = get_paragraph_scores(file_path)
df_exam_3_ai["prompt"] = "exam"
df_exam_3_ai["id"] = "e3a"
df_exam_3_ai["generator"] = "ai"
df_exam_3_ai

,Flesch Score,title,Paragraph Order,prompt,id,generator
0,46.78,﻿Do you agree or disagree with the following s...,1,exam,e3a,ai
1,60.14,﻿Do you agree or disagree with the following s...,2,exam,e3a,ai
2,24.48,﻿Do you agree or disagree with the following s...,3,exam,e3a,ai
3,33.24,﻿Do you agree or disagree with the following s...,4,exam,e3a,ai
4,45.46,﻿Do you agree or disagree with the following s...,5,exam,e3a,ai
5,32.26,﻿Do you agree or disagree with the following s...,6,exam,e3a,ai

In [ ]:
print(std_dev)

11.739867498779061

### LPE 4: Do you agree or disagree with the following statement_ Telephones

In [ ]:
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/Language Proficiency Exam/(Human)Some people believe that success in life comes from taking risks or chances._.txt'
df_exam_4_human, std_dev = get_paragraph_scores(file_path)
df_exam_4_human["prompt"] = "exam"
df_exam_4_human["id"] = "e4h"
df_exam_4_human["generator"] = "human"
df_exam_4_human

,Flesch Score,title,Paragraph Order,prompt,id,generator
0,67.25,Some people believe that success in life comes...,1,exam,e4h,human
1,61.26,Some people believe that success in life comes...,2,exam,e4h,human
2,40.35,Some people believe that success in life comes...,3,exam,e4h,human

In [ ]:
print(std_dev)

11.531205005934499

In [ ]:
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/Language Proficiency Exam/(AI)Some people believe that success in life comes from taking risks or chances_.txt'
df_exam_4_ai, std_dev = get_paragraph_scores(file_path)
df_exam_4_ai["prompt"] = "exam"
df_exam_4_ai["id"] = "e4a"
df_exam_4_ai["generator"] = "ai"
df_exam_4_ai

,Flesch Score,title,Paragraph Order,prompt,id,generator
0,62.88,﻿Some people believe that success in life come...,1,exam,e4a,ai
1,48.84,﻿Some people believe that success in life come...,2,exam,e4a,ai
2,39.33,﻿Some people believe that success in life come...,3,exam,e4a,ai
3,46.27,﻿Some people believe that success in life come...,4,exam,e4a,ai
4,43.73,﻿Some people believe that success in life come...,5,exam,e4a,ai

In [ ]:
print(std_dev)

7.978649008447485

### LPE 5: Do you agree or disagree with the following statement

In [ ]:
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/Language Proficiency Exam/(Human)Do you agree or disagree with the following statement_.txt'
df_exam_5_human, std_dev = get_paragraph_scores(file_path)
df_exam_5_human["prompt"] = "exam"
df_exam_5_human["id"] = "e5h"
df_exam_5_human["generator"] = "human"
df_exam_5_human

,Flesch Score,title,Paragraph Order,prompt,id,generator
0,73.68,Do you agree or disagree with the following st...,1,exam,e5h,human
1,79.60,Do you agree or disagree with the following st...,2,exam,e5h,human
2,67.25,Do you agree or disagree with the following st...,3,exam,e5h,human
3,39.84,Do you agree or disagree with the following st...,4,exam,e5h,human

In [ ]:
print(std_dev)

15.21969345124927

In [ ]:
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/Language Proficiency Exam/(AI)Do you agree or disagree with the following statement__.txt'
df_exam_5_ai, std_dev = get_paragraph_scores(file_path)
df_exam_5_ai["prompt"] = "exam"
df_exam_5_ai["id"] = "e5a"
df_exam_5_ai["generator"] = "ai"
df_exam_5_ai

,Flesch Score,title,Paragraph Order,prompt,id,generator
0,53.71,﻿Do you agree or disagree with the following s...,1,exam,e5a,ai
1,55.74,﻿Do you agree or disagree with the following s...,2,exam,e5a,ai
2,35.47,﻿Do you agree or disagree with the following s...,3,exam,e5a,ai
3,36.49,﻿Do you agree or disagree with the following s...,4,exam,e5a,ai
4,50.87,﻿Do you agree or disagree with the following s...,5,exam,e5a,ai

In [ ]:
print(std_dev)

8.698389736037354

## Creating One Large Dataset

In [ ]:
# perform full outer join

all_articles = pd.concat([df_news_1_human,df_news_2_human,df_news_3_human,df_news_4_human,df_news_5_human,df_news_1_ai,df_news_2_ai,df_news_3_ai,df_news_4_ai,df_news_5_ai,
                          df_blog_1_human,df_blog_2_human,df_blog_3_human,df_blog_4_human,df_blog_5_human,df_blog_1_ai,df_blog_2_ai,df_blog_3_ai,df_blog_4_ai,df_blog_5_ai,
                          df_exam_1_human,df_exam_2_human,df_exam_3_human,df_exam_4_human,df_exam_5_human,df_exam_1_ai,df_exam_2_ai,df_exam_3_ai,df_exam_4_ai,df_exam_5_ai])
all_articles

,Flesch Score,title,Paragraph Order,prompt,id,generator
0,35.61,"2015 smashes record for hottest year, final fi...",1,news,n1h,human
1,53.55,"2015 smashes record for hottest year, final fi...",2,news,n1h,human
2,72.36,"2015 smashes record for hottest year, final fi...",3,news,n1h,human
3,31.55,"2015 smashes record for hottest year, final fi...",4,news,n1h,human
4,52.87,"2015 smashes record for hottest year, final fi...",5,news,n1h,human
...,...,...,...,...,...,...
0,53.71,﻿Do you agree or disagree with the following s...,1,exam,e5a,ai
1,55.74,﻿Do you agree or disagree with the following s...,2,exam,e5a,ai
2,35.47,﻿Do you agree or disagree with the following s...,3,exam,e5a,ai
3,36.49,﻿Do you agree or disagree with the following s...,4,exam,e5a,ai
4,50.87,﻿Do you agree or disagree with the following s...,5,exam,e5a,ai

In [ ]:
all_articles.to_csv('all_articles.csv', index=False)

In [ ]:
#from google.colab import files
#files.download('all_articles.csv')

,Flesch Score,title,Paragraph Order,prompt,id,generator
0,35.61,"2015 smashes record for hottest year, final fi...",1,news,n1h,human
1,53.55,"2015 smashes record for hottest year, final fi...",2,news,n1h,human
2,72.36,"2015 smashes record for hottest year, final fi...",3,news,n1h,human
3,31.55,"2015 smashes record for hottest year, final fi...",4,news,n1h,human
4,52.87,"2015 smashes record for hottest year, final fi...",5,news,n1h,human
...,...,...,...,...,...,...
307,53.71,﻿Do you agree or disagree with the following s...,1,exam,e5a,ai
308,55.74,﻿Do you agree or disagree with the following s...,2,exam,e5a,ai
309,35.47,﻿Do you agree or disagree with the following s...,3,exam,e5a,ai
310,36.49,﻿Do you agree or disagree with the following s...,4,exam,e5a,ai
311,50.87,﻿Do you agree or disagree with the following s...,5,exam,e5a,ai

## Creating the Metrics Dataset

### Standard Deviation

In [ ]:
# group the data by id and calculate the standard deviation for each article
std_by_article = all_articles.groupby('id')['Flesch Score'].std()

# create a new dataframe to store the standard deviation values
std_df = std_by_article.to_frame().reset_index().rename(columns={'Flesch Score': 'Standard Deviation'})
std_df

     id  Standard Deviation
0   b1a            7.782940
1   b1h           13.126720
2   b2a           17.543865
3   b2h           11.430226
4   b3a            8.415740
5   b3h           27.763417
6   b4a           13.160097
7   b4h           14.264645
8   b5a           10.600409
9   b5h            7.658517
10  e1a            9.186983
11  e1h           14.116410
12  e2a            6.156405
13  e2h            8.111142
14  e3a           12.860381
15  e3h           13.072897
16  e4a            8.920401
17  e4h           14.122784
18  e5a            9.725095
19  e5h           17.574188
20  n1a            7.957283
21  n1h           13.509887
22  n2a            9.760458
23  n2h           12.133893
24  n3a            9.156598
25  n3h           22.744892
26  n4a           12.007008
27  n4h           19.947131
28  n5a            4.908867
29  n5h           15.633661

In [ ]:
# group the data by id and calculate the mean for each article
mean_by_article = all_articles.groupby('id')['Flesch Score'].mean()

# create a new dataframe to store the mean values
mean_df = mean_by_article.to_frame().reset_index().rename(columns={'Flesch Score': 'Mean'})
mean_df

     id       Mean
0   b1a  46.990000
1   b1h  57.802381
2   b2a  44.082857
3   b2h  45.251429
4   b3a  53.278571
5   b3h  63.396000
6   b4a  48.466250
7   b4h  59.360800
8   b5a  60.661538
9   b5h  66.551765
10  e1a  58.768333
11  e1h  77.494000
12  e2a  45.158000
13  e2h  53.512000
14  e3a  40.393333
15  e3h  51.987500
16  e4a  48.210000
17  e4h  56.286667
18  e5a  46.456000
19  e5h  65.092500
20  n1a  50.246667
21  n1h  53.080667
22  n2a  54.141429
23  n2h  66.436800
24  n3a  58.051429
25  n3h  59.064000
26  n4a  63.518889
27  n4h  65.291724
28  n5a  58.458333
29  n5h  55.774615

In [ ]:
# group the data by id and calculate the standard deviation for each group
paragrpah_number_by_article = all_articles.groupby('id')['Flesch Score'].nunique()

# create a new dataframe to store the mean values
paragraph_number_df = paragrpah_number_by_article.to_frame().reset_index().rename(columns={'Flesch Score': 'Paragraph Number'})
paragraph_number_df

     id  Paragraph Number
0   b1a                 5
1   b1h                19
2   b2a                 7
3   b2h                14
4   b3a                 6
5   b3h                15
6   b4a                 8
7   b4h                22
8   b5a                13
9   b5h                17
10  e1a                 6
11  e1h                 5
12  e2a                 5
13  e2h                 5
14  e3a                 6
15  e3h                 4
16  e4a                 5
17  e4h                 3
18  e5a                 5
19  e5h                 4
20  n1a                 6
21  n1h                15
22  n2a                 7
23  n2h                24
24  n3a                 7
25  n3h                15
26  n4a                 9
27  n4h                27
28  n5a                 6
29  n5h                13

In [ ]:
# try to generate multiple metrics at the same time but with some issues on the column names (tbc)
#grouped = all_articles.groupby('id')
#agg_by_id = grouped.agg({'Flesch Score': ['mean', 'std', 'nunique']})
#agg_by_id.columns = agg_by_id.columns.map('_'.join)
#column_names = agg_by_id.columns.tolist()

    Flesch Score
            mean        std nunique
id
b1a    46.990000   7.782940       5
b1h    57.802381  13.126720      19
b2a    44.082857  17.543865       7
b2h    45.251429  11.430226      14
b3a    53.278571   8.415740       6
b3h    63.396000  27.763417      15
b4a    48.466250  13.160097       8
b4h    59.360800  14.264645      22
b5a    60.661538  10.600409      13
b5h    66.551765   7.658517      17
e1a    58.768333   9.186983       6
e1h    77.494000  14.116410       5
e2a    45.158000   6.156405       5
e2h    53.512000   8.111142       5
e3a    40.393333  12.860381       6
e3h    51.987500  13.072897       4
e4a    48.210000   8.920401       5
e4h    56.286667  14.122784       3
e5a    46.456000   9.725095       5
e5h    65.092500  17.574188       4
n1a    50.246667   7.957283       6
n1h    53.080667  13.509887      15
n2a    54.141429   9.760458       7
n2h    66.436800  12.133893      24
n3a    58.051429   9.156598       7
n3h    59.064000  22.744892      15
n4a    63.518889  12.007008       9
n4h    65.291724  19.947131      27
n5a    58.458333   4.908867       6
n5h    55.774615  15.633661      13

In [ ]:
# join the three dataset together on id column

metircs = pd.merge(mean_df, std_df, on='id')
articles_metircs = pd.merge(metircs, paragraph_number_df, on='id')
articles_metircs

     id       Mean  Standard Deviation  Paragraph Number
0   b1a  46.990000            7.782940                 5
1   b1h  57.802381           13.126720                19
2   b2a  44.082857           17.543865                 7
3   b2h  45.251429           11.430226                14
4   b3a  53.278571            8.415740                 6
5   b3h  63.396000           27.763417                15
6   b4a  48.466250           13.160097                 8
7   b4h  59.360800           14.264645                22
8   b5a  60.661538           10.600409                13
9   b5h  66.551765            7.658517                17
10  e1a  58.768333            9.186983                 6
11  e1h  77.494000           14.116410                 5
12  e2a  45.158000            6.156405                 5
13  e2h  53.512000            8.111142                 5
14  e3a  40.393333           12.860381                 6
15  e3h  51.987500           13.072897                 4
16  e4a  48.210000            8.920401                 5
17  e4h  56.286667           14.122784                 3
18  e5a  46.456000            9.725095                 5
19  e5h  65.092500           17.574188                 4
20  n1a  50.246667            7.957283                 6
21  n1h  53.080667           13.509887                15
22  n2a  54.141429            9.760458                 7
23  n2h  66.436800           12.133893                24
24  n3a  58.051429            9.156598                 7
25  n3h  59.064000           22.744892                15
26  n4a  63.518889           12.007008                 9
27  n4h  65.291724           19.947131                27
28  n5a  58.458333            4.908867                 6
29  n5h  55.774615           15.633661                13

In [ ]:
# store the dataset 
articles_metircs.to_csv('articles_metircs.csv', index=False)

In [ ]:
#from google.colab import files
#files.download('articles_metircs.csv')

## Reading Dataset

In [ ]:
# read the dataset from the stored csv file
all_articles = pd.read_csv('/content/drive/Shareddrives/Comp440/articles txt version/all_articles.csv')
all_articles

,Flesch Score,title,Paragraph Order,prompt,id,generator
0,35.61,"2015 smashes record for hottest year, final fi...",1,news,n1h,human
1,53.55,"2015 smashes record for hottest year, final fi...",2,news,n1h,human
2,72.36,"2015 smashes record for hottest year, final fi...",3,news,n1h,human
3,31.55,"2015 smashes record for hottest year, final fi...",4,news,n1h,human
4,52.87,"2015 smashes record for hottest year, final fi...",5,news,n1h,human
...,...,...,...,...,...,...
307,53.71,﻿Do you agree or disagree with the following s...,1,exam,e5a,ai
308,55.74,﻿Do you agree or disagree with the following s...,2,exam,e5a,ai
309,35.47,﻿Do you agree or disagree with the following s...,3,exam,e5a,ai
310,36.49,﻿Do you agree or disagree with the following s...,4,exam,e5a,ai
311,50.87,﻿Do you agree or disagree with the following s...,5,exam,e5a,ai

In [ ]:
# read the dataset from the stored csv file
articles_metircs = pd.read_csv('/content/drive/Shareddrives/Comp440/articles txt version/articles_metircs.csv')
articles_metircs

     id       Mean  Standard Deviation  Paragraph Number
0   b1a  46.990000            7.782940                 5
1   b1h  57.802381           13.126720                19
2   b2a  44.082857           17.543865                 7
3   b2h  45.251429           11.430226                14
4   b3a  53.278571            8.415740                 6
5   b3h  63.396000           27.763417                15
6   b4a  48.466250           13.160097                 8
7   b4h  59.360800           14.264645                22
8   b5a  60.661538           10.600409                13
9   b5h  66.551765            7.658517                17
10  e1a  58.768333            9.186983                 6
11  e1h  77.494000           14.116410                 5
12  e2a  45.158000            6.156405                 5
13  e2h  53.512000            8.111142                 5
14  e3a  40.393333           12.860381                 6
15  e3h  51.987500           13.072897                 4
16  e4a  48.210000            8.920401                 5
17  e4h  56.286667           14.122784                 3
18  e5a  46.456000            9.725095                 5
19  e5h  65.092500           17.574188                 4
20  n1a  50.246667            7.957283                 6
21  n1h  53.080667           13.509887                15
22  n2a  54.141429            9.760458                 7
23  n2h  66.436800           12.133893                24
24  n3a  58.051429            9.156598                 7
25  n3h  59.064000           22.744892                15
26  n4a  63.518889           12.007008                 9
27  n4h  65.291724           19.947131                27
28  n5a  58.458333            4.908867                 6
29  n5h  55.774615           15.633661                13

# Testing

## For Flesch Score

### AI Articles

#### First Article

In [ ]:
# Define the path to the text file in Colab
#content/drive/My Drive/folder name/ file name or just copy path from the left panel
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/News/(AI)2015 smashes record for hottest year, final figures confirm.txt'

# read article
with open(file_path, 'r') as f:
    ai_news_2015 = f.read()

In [ ]:
# Split paragraphs by two new lines
ai_paragraphs1 = ai_news_2015.split('\n\n') 
ai_paragraphs_no_title1 = ai_paragraphs1[1:]

# skip the last paragraph if it is empty
if not ai_paragraphs_no_title1[-1].strip():
    ai_paragraphs_no_title1 = ai_paragraphs_no_title1[:-1]

In [ ]:
# create an empty list to store the scores for each paragraph
ai_scores1 = []

# Print the flesch score of each paragraph
for i, paragraph in enumerate(ai_paragraphs_no_title1):
    score = textstat.flesch_reading_ease(paragraph)
    ai_scores1.append(score)
    #show the first four words
    first_four_words = ' '.join(paragraph.split()[:4])
    print(first_four_words)
    print(f"Paragraph {i+1} Flesch Reading Ease score: {score}\n")

The latest data from
Paragraph 1 Flesch Reading Ease score: 49.86

The data, released on
Paragraph 2 Flesch Reading Ease score: 46.14

The record-breaking temperatures seen
Paragraph 3 Flesch Reading Ease score: 60.18

Climate change experts have
Paragraph 4 Flesch Reading Ease score: 50.36

The latest data has
Paragraph 5 Flesch Reading Ease score: 37.84

The Met Office has
Paragraph 6 Flesch Reading Ease score: 57.1

In [ ]:
# Calculate the standard deviation of the scores 
ai_std_dev1 = np.std(ai_scores1)
print(ai_std_dev1)

7.263971977430039

In [ ]:
#store the score in a dataframe where scores as row and title as column name
ai_news_flesch_score1 = pd.DataFrame({ai_paragraphs1[0]:ai_scores1})
ai_news_flesch_score1
#print(ai_news_flesch_score.columns)

   ﻿2015 Smashes Record for Hottest Year, Final Figures Confirm
0                                              49.86
1                                              46.14
2                                              60.18
3                                              50.36
4                                              37.84
5                                              57.10

#### Second Article

In [ ]:
# Define the path to the text file in Colab
#content/drive/My Drive/folder name/ file name or just copy path from the left panel
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/News/(AI)Bigger Chickens Bring a Tough New Problem_ ‘Woody Breast’.txt'

# read article
with open(file_path, 'r') as f:
    ai_news_2015 = f.read()

# Split paragraphs by two new lines
ai_paragraphs2 = ai_news_2015.split('\n\n') 
ai_paragraphs_no_title2 = ai_paragraphs2[1:]

# skip the last paragraph if it is empty
if not ai_paragraphs_no_title2[-1].strip():
    ai_paragraphs_no_title2 = ai_paragraphs_no_title2[:-1]

# create an empty list to store the scores for each paragraph
ai_scores2 = []

# Print the flesch score of each paragraph
for i, paragraph in enumerate(ai_paragraphs_no_title2):
    score = textstat.flesch_reading_ease(paragraph)
    ai_scores2.append(score)
    #show the first four words
    first_four_words = ' '.join(paragraph.split()[:4])
    print(first_four_words)
    print(f"Paragraph {i+1} Flesch Reading Ease score: {score}\n")

In recent years, the
Paragraph 1 Flesch Reading Ease score: 63.73

According to industry experts,
Paragraph 2 Flesch Reading Ease score: 62.38

Scientists suggest that the
Paragraph 3 Flesch Reading Ease score: 52.53

This is a significant
Paragraph 4 Flesch Reading Ease score: 56.29

The issue of woody
Paragraph 5 Flesch Reading Ease score: 61.97

Despite the challenges posed
Paragraph 6 Flesch Reading Ease score: 41.4

In conclusion, the issue
Paragraph 7 Flesch Reading Ease score: 40.69

In [ ]:
# Calculate the standard deviation of the scores 
ai_std_dev2 = np.std(ai_scores2)
print(ai_std_dev2)

9.036428543198166

In [ ]:
#store the score in a dataframe where scores as row and title as column name
ai_news_flesch_score2 = pd.DataFrame({ai_paragraphs2[0]:ai_scores2})
ai_news_flesch_score2
#print(ai_news_flesch_score.columns)

   ﻿Bigger Chickens Bring a Tough New Problem: ‘Woody Breast’
0                                              63.73
1                                              62.38
2                                              52.53
3                                              56.29
4                                              61.97
5                                              41.40
6                                              40.69

### Human News Articles Flesch Scores

#### First Article

In [ ]:
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/News/(Human)2015 smashes record for hottest year, final figures confirm.txt'

# read article
with open(file_path, 'r') as f:
    human_news_2015 = f.read()

# Split paragraphs by two new lines
human_paragraphs1 = human_news_2015.split('\n\n') 
human_paragraphs_no_title1 = human_paragraphs1[1:]

# skip the last paragraph if it is empty
if not human_paragraphs_no_title1[-1].strip():
    human_paragraphs_no_title1 = human_paragraphs_no_title1[:-1]

human_scores1 = []

for i, paragraph in enumerate(human_paragraphs_no_title1):
    score = textstat.flesch_reading_ease(paragraph)
    human_scores1.append(score)
    #show the first four words
    first_four_words = ' '.join(paragraph.split()[:4])
    print(first_four_words)
    print(f"Paragraph {i+1} Flesch Reading Ease score: {score}\n")

Experts warn that global
Paragraph 1 Flesch Reading Ease score: 35.61

2015 smashed the record
Paragraph 2 Flesch Reading Ease score: 53.55

Data released on Wednesday
Paragraph 3 Flesch Reading Ease score: 72.36

Temperature data released in
Paragraph 4 Flesch Reading Ease score: 31.55

Heatwaves have scorched China,
Paragraph 5 Flesch Reading Ease score: 52.87

The Paris agreement commits
Paragraph 6 Flesch Reading Ease score: 54.52

A strong El Niño
Paragraph 7 Flesch Reading Ease score: 57.61

“It is clear that
Paragraph 8 Flesch Reading Ease score: 40.52

Noaa’s global temperature records
Paragraph 9 Flesch Reading Ease score: 67.08

Nasa’s new data for
Paragraph 10 Flesch Reading Ease score: 68.4

The Nasa, Noaa and
Paragraph 11 Flesch Reading Ease score: 54.22

There are uncertainties in
Paragraph 12 Flesch Reading Ease score: 35.27

Bob Ward, at the
Paragraph 13 Flesch Reading Ease score: 42.04

Despite constantly rising greenhouse
Paragraph 14 Flesch Reading Ease score: 59.64

Instead, natural climate cycles
Paragraph 15 Flesch Reading Ease score: 70.97

In [ ]:
#check scores list
for i in human_scores1:
 print(i)

35.61
53.55
72.36
31.55
52.87
54.52
57.61
40.52
67.08
68.4
54.22
35.27
42.04
59.64
70.97

In [ ]:
# Calculate the standard deviation of the scores 
human_std_dev1 = np.std(human_scores1)
print(human_std_dev1)

13.051790920108328

In [ ]:
#store the score in a dataframe where scores as row and title as column name
human_news_flesch_score1 = pd.DataFrame({human_paragraphs1[0]:human_scores1})
human_news_flesch_score1
#print(ai_news_flesch_score.columns)

    2015 smashes record for hottest year, final figures confirm
0                                               35.61
1                                               53.55
2                                               72.36
3                                               31.55
4                                               52.87
5                                               54.52
6                                               57.61
7                                               40.52
8                                               67.08
9                                               68.40
10                                              54.22
11                                              35.27
12                                              42.04
13                                              59.64
14                                              70.97

#### Second Article

In [ ]:
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/News/(Human)Bigger Chickens Bring a Tough New Problem_ ‘Woody Breast’.txt'

# read article
with open(file_path, 'r') as f:
    human_news_2015 = f.read()

# Split paragraphs by two new lines
human_paragraphs2 = human_news_2015.split('\n\n') 
human_paragraphs_no_title2 = human_paragraphs2[1:]

# skip the last paragraph if it is empty
if not human_paragraphs_no_title2[-1].strip():
    human_paragraphs_no_title2 = human_paragraphs_no_title2[:-1]

human_scores2 = []
human_paragraph_order=[]

for i, paragraph in enumerate(human_paragraphs_no_title2):
    score = textstat.flesch_reading_ease(paragraph)
    human_scores2.append(score)
    human_paragraph_order.append(f"{i+1}")
    #show the first four words
    first_four_words = ' '.join(paragraph.split()[:4])
    print(first_four_words)
    print(f"Paragraph {i+1} Flesch Reading Ease score: {score}\n")

In its quest to
Paragraph 1 Flesch Reading Ease score: 57.61

The trouble isn't raising
Paragraph 2 Flesch Reading Ease score: 78.79

“It is more hard,
Paragraph 3 Flesch Reading Ease score: 71.85

He said roughly 5%
Paragraph 4 Flesch Reading Ease score: 67.08

The effects of woody
Paragraph 5 Flesch Reading Ease score: 74.49

“It’s not the final
Paragraph 6 Flesch Reading Ease score: 59.64

For poultry processors like
Paragraph 7 Flesch Reading Ease score: 64.41

Industry analysts say woody
Paragraph 8 Flesch Reading Ease score: 48.47

Brett Hundley, analyst for
Paragraph 9 Flesch Reading Ease score: 71.14

“Is it worth it
Paragraph 10 Flesch Reading Ease score: 65.56

Sanderson Farms Chief Financial
Paragraph 11 Flesch Reading Ease score: 59.33

“It feels like my
Paragraph 12 Flesch Reading Ease score: 86.03

If found, affected meat
Paragraph 13 Flesch Reading Ease score: 80.96

“We are managing this
Paragraph 14 Flesch Reading Ease score: 58.62

Woody breast is similar
Paragraph 15 Flesch Reading Ease score: 46.61

Affected breast fillets don’t
Paragraph 16 Flesch Reading Ease score: 74.19

Poultry processors world-wide primarily
Paragraph 17 Flesch Reading Ease score: 55.74

Derek Emmerson, vice president
Paragraph 18 Flesch Reading Ease score: 55.74

A spokesman for Cobb-Vantress,
Paragraph 19 Flesch Reading Ease score: 80.78

Sean Holcombe, director of
Paragraph 20 Flesch Reading Ease score: 55.24

Tyson Foods said it
Paragraph 21 Flesch Reading Ease score: 72.16

A spokesman for Perdue
Paragraph 22 Flesch Reading Ease score: 70.13

Over the past 50
Paragraph 23 Flesch Reading Ease score: 87.11

The stiff muscle condition
Paragraph 24 Flesch Reading Ease score: 43.4

“We all know there
Paragraph 25 Flesch Reading Ease score: 75.84

In [ ]:
for i in human_paragraph_order:
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

In [ ]:
# Calculate the standard deviation of the scores 
human_std_dev2 = np.std(human_scores2)
print(human_std_dev2)

11.88873844274488

In [ ]:
#store the score in a dataframe where scores as row and title as column name
human_news_flesch_score2 = pd.DataFrame({"Flesch Score":human_scores2})
human_news_flesch_score2["title"]=human_paragraphs2[0]
human_news_flesch_score2["Paragraph Order"]=human_paragraph_order
human_news_flesch_score2
#print(ai_news_flesch_score.columns)

,Flesch Score,title,Paragraph Order
0,57.61,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,1
1,78.79,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,2
2,71.85,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,3
3,67.08,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,4
4,74.49,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,5
5,59.64,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,6
6,64.41,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,7
7,48.47,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,8
8,71.14,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,9
9,65.56,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,10
10,59.33,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,11
11,86.03,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,12
12,80.96,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,13
13,58.62,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,14
14,46.61,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,15
15,74.19,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,16
16,55.74,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,17
17,55.74,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,18
18,80.78,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,19
19,55.24,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,20
20,72.16,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,21
21,70.13,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,22
22,87.11,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,23
23,43.40,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,24
24,75.84,﻿Bigger Chickens Bring a Tough New Problem: ‘W...,25

## BERT Embedding

In [ ]:
def get_cs_sim(first_paragraphs):
  similarities = []
  for i in range(0, 5):
    input_ids_a = torch.tensor(tokenizer.encode(first_paragraphs[i], add_special_tokens=True)).unsqueeze(0)
    outputs_a = model(input_ids_a)
    first_embedding = outputs_a.last_hidden_state.mean(dim=1).squeeze().detach().numpy()
    for j in range(0, 5):
      input_ids = torch.tensor(tokenizer.encode(first_paragraphs[j], add_special_tokens=True)).unsqueeze(0)
      outputs = model(input_ids)
      embedding = outputs.last_hidden_state.mean(dim=1).squeeze().detach().numpy()
      similarity = cosine_similarity(first_embedding.reshape(1, -1), embedding.reshape(1, -1))[0][0]
      similarities.append((i+1, j+1, similarity))

  # Create DataFrame with similarities and first 4 words of each paragraph
  df = pd.DataFrame(similarities, columns=['Articl1', "Article2", 'Cosine Similarity'])

  return df

In [ ]:
def read_paragraph(file_path):
    # read article
    with open(file_path, 'r') as f:
        article = f.read()

    # Split paragraphs by two new lines
    article_paragraphs = article.split('\n\n') 
    article_paragraphs_no_title = article_paragraphs[1:]

    # skip the last paragraph if it is empty
    if not article_paragraphs_no_title[-1].strip():
        article_paragraphs_no_title = article_paragraphs_no_title[:-1]
    
    return article_paragraphs_no_title

### AI Articles

#### First Article

In [ ]:
# Define the path to the text file in Colab
#content/drive/My Drive/folder name/ file name or just copy path from the left panel
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/News/(AI)2015 smashes record for hottest year, final figures confirm.txt'

# read article
with open(file_path, 'r') as f:
    ai_news_2015 = f.read()

In [ ]:
# Split paragraphs by two new lines
ai_paragraphs1 = ai_news_2015.split('\n\n') 
ai_paragraphs_no_title1 = ai_paragraphs1[1:]

# skip the last paragraph if it is empty
if not ai_paragraphs_no_title1[-1].strip():
    ai_paragraphs_no_title1 = ai_paragraphs_no_title1[:-1]

### News

#### Read In Articles

In [ ]:
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/News/(AI)2015 smashes record for hottest year, final figures confirm.txt'
n1a = read_paragraph(file_path)
path = '/content/drive/Shareddrives/Comp440/articles txt version/News/(AI)2015 smashes record for hottest year, final figures confirm.txt'
n1a = read_paragraph(file_path)
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/News/(AI)Bigger Chickens Bring a Tough New Problem_ ‘Woody Breast’.txt'
n2a = read_paragraph(file_path)
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/News/(AI)F1 circuits could withdraw from rescheduled 2020 calendar due to fallout from coronavirus pandemic.txt'
n3a = read_paragraph(file_path)
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/News/(AI)Richard Scudamore says Premier League is _not a charity_ following £5bn TV deal.txt'
n4a = read_paragraph(file_path)
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/News/(AI)Stocks Fall, Wiping Out Gains for 2018.txt'
n5a = read_paragraph(file_path)

In [ ]:
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/News/(Human)2015 smashes record for hottest year, final figures confirm.txt'
n1h = read_paragraph(file_path)
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/News/(Human)Bigger Chickens Bring a Tough New Problem_ ‘Woody Breast’.txt'
n2h = read_paragraph(file_path)
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/News/(Human)F1 circuits could withdraw from rescheduled 2020 calendar due to fallout from coronavirus pandemic.txt'
n3h = read_paragraph(file_path)
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/News/(Human)News Article 4.txt'
n4h = read_paragraph(file_path)
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/News/(Human)Stocks Fall, Wiping Out Gains for 2018.txt'
n5h = read_paragraph(file_path)

#### Store Articles to List

In [ ]:
first_paragraphs_h_n = [n1h[0],n2h[0],n3h[0],n4h[0],n5h[0]]

In [ ]:
first_paragraphs_a_n = [n1a[0],n2a[0],n3a[0],n4a[0],n5a[0]]

In [ ]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
import torch
from transformers import BertTokenizer, BertModel

# Load pre-trained BERT model and tokenizer
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
model = BertModel.from_pretrained('bert-base-uncased')

# Get the embeddings for the first paragraph
input_ids = torch.tensor(tokenizer.encode(n1a[0], add_special_tokens=True)).unsqueeze(0)
outputs = model(input_ids)
first_embedding = outputs.last_hidden_state.mean(dim=1).squeeze().detach().numpy()

# Calculate cosine similarity for each paragraph and store results in DataFrame
similarities = []
for i in range(1, len(first_paragraphs)):
    input_ids = torch.tensor(tokenizer.encode(first_paragraphs[i], add_special_tokens=True)).unsqueeze(0)
    outputs = model(input_ids)
    embedding = outputs.last_hidden_state.mean(dim=1).squeeze().detach().numpy()
    similarity = cosine_similarity(first_embedding.reshape(1, -1), embedding.reshape(1, -1))[0][0]
    similarities.append((i, similarity))

# Create DataFrame with similarities and first 4 words of each paragraph
df = pd.DataFrame(similarities, columns=['Paragraph', 'Cosine Similarity'])
df['First Four Words'] = [p.split()[:4] for p in first_paragraphs[1:]]

Downloading (…)solve/main/vocab.txt:   0%|          | 0.00/232k [00:00<?, ?B/s]

Downloading (…)okenizer_config.json:   0%|          | 0.00/28.0 [00:00<?, ?B/s]

Downloading (…)lve/main/config.json:   0%|          | 0.00/570 [00:00<?, ?B/s]

Downloading pytorch_model.bin:   0%|          | 0.00/440M [00:00<?, ?B/s]

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.predictions.decoder.weight', 'cls.predictions.transform.dense.weight', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.seq_relationship.weight', 'cls.predictions.bias', 'cls.seq_relationship.bias', 'cls.predictions.transform.LayerNorm.bias']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [ ]:
df

   Paragraph  Cosine Similarity                       First Four Words
0          1           0.781538              [In, recent, years,, the]
1          2           0.768003           [FIA, president, Jean, Todt]
2          3           0.730322  [Richard, Scudamore,, the, executive]
3          4           0.797342               [The, US, stock, market]

In [ ]:
# Get the embeddings for the first paragraph
input_ids = torch.tensor(tokenizer.encode(n1h[0], add_special_tokens=True)).unsqueeze(0)
outputs = model(input_ids)
first_embedding = outputs.last_hidden_state.mean(dim=1).squeeze().detach().numpy()

# Calculate cosine similarity for each paragraph and store results in DataFrame
similarities = []
for i in range(1, len(first_paragraphs_h)):
    input_ids = torch.tensor(tokenizer.encode(first_paragraphs_h[i], add_special_tokens=True)).unsqueeze(0)
    outputs = model(input_ids)
    embedding = outputs.last_hidden_state.mean(dim=1).squeeze().detach().numpy()
    similarity = cosine_similarity(first_embedding.reshape(1, -1), embedding.reshape(1, -1))[0][0]
    similarities.append((i, similarity))

# Create DataFrame with similarities and first 4 words of each paragraph
df = pd.DataFrame(similarities, columns=['Paragraph', 'Cosine Similarity'])
df['First Four Words'] = [p.split()[:4] for p in first_paragraphs_h[1:]]

In [ ]:
df

   Paragraph  Cosine Similarity                               First Four Words
0          1           0.634030                           [In, its, quest, to]
1          2           0.668836                   [FIA, president, Jean, Todt]
2          3           0.618219  [Football, pundits,, including, Sportsmail's]
3          4           0.659784                  [The, stock, market's, gains]

#### Creating BERT Dataset

In [ ]:
df_n_first_h=get_cs_sim(first_paragraphs_h_n)

In [ ]:
df_n_first_h["generator"] = "human"
df_n_first_h["prompt"] = "news"

In [ ]:
df_n_first_h

    Articl1  Article2  Cosine Similarity generator prompt
0         1         1           1.000000     human   news
1         1         2           0.634030     human   news
2         1         3           0.668836     human   news
3         1         4           0.618220     human   news
4         1         5           0.659784     human   news
5         2         1           0.634030     human   news
6         2         2           1.000000     human   news
7         2         3           0.752626     human   news
8         2         4           0.687159     human   news
9         2         5           0.687113     human   news
10        3         1           0.668836     human   news
11        3         2           0.752626     human   news
12        3         3           1.000000     human   news
13        3         4           0.781429     human   news
14        3         5           0.744621     human   news
15        4         1           0.618220     human   news
16        4         2           0.687159     human   news
17        4         3           0.781429     human   news
18        4         4           1.000000     human   news
19        4         5           0.705172     human   news
20        5         1           0.659784     human   news
21        5         2           0.687113     human   news
22        5         3           0.744621     human   news
23        5         4           0.705172     human   news
24        5         5           1.000000     human   news

In [ ]:
df_n_first_a=get_cs_sim(first_paragraphs_a_n)

In [ ]:
df_n_first_a["generator"] = "ai"
df_n_first_a["prompt"] = "news"

In [ ]:
df_n_first_a

    Articl1  Article2  Cosine Similarity generator prompt
0         1         1           1.000000        ai   news
1         1         2           0.781538        ai   news
2         1         3           0.768003        ai   news
3         1         4           0.730322        ai   news
4         1         5           0.797343        ai   news
5         2         1           0.781538        ai   news
6         2         2           1.000000        ai   news
7         2         3           0.782440        ai   news
8         2         4           0.741517        ai   news
9         2         5           0.802438        ai   news
10        3         1           0.768003        ai   news
11        3         2           0.782440        ai   news
12        3         3           1.000000        ai   news
13        3         4           0.791437        ai   news
14        3         5           0.808448        ai   news
15        4         1           0.730322        ai   news
16        4         2           0.741517        ai   news
17        4         3           0.791437        ai   news
18        4         4           1.000000        ai   news
19        4         5           0.781410        ai   news
20        5         1           0.797343        ai   news
21        5         2           0.802438        ai   news
22        5         3           0.808448        ai   news
23        5         4           0.781410        ai   news
24        5         5           1.000000        ai   news

#### last paragraph comparison

In [ ]:
last_paragraph_a_n = [n1a[len(n1a)-1],n2a[len(n2a)-1],n3a[len(n3a)-1],n4a[len(n4a)-1],n5a[len(n5a)-1]]
last_paragraph_h_n = [n1h[len(n1h)-1],n2h[len(n2h)-1],n3h[len(n3h)-1],n4h[len(n4h)-1],n5h[len(n5h)-1]]

In [ ]:
# Get the embeddings for the first paragraph
input_ids = torch.tensor(tokenizer.encode(last_paragraph[0], add_special_tokens=True)).unsqueeze(0)
outputs = model(input_ids)
first_embedding = outputs.last_hidden_state.mean(dim=1).squeeze().detach().numpy()

# Calculate cosine similarity for each paragraph and store results in DataFrame
similarities = []
for i in range(1, len(last_paragraph)):
    input_ids = torch.tensor(tokenizer.encode(last_paragraph[i], add_special_tokens=True)).unsqueeze(0)
    outputs = model(input_ids)
    embedding = outputs.last_hidden_state.mean(dim=1).squeeze().detach().numpy()
    similarity = cosine_similarity(first_embedding.reshape(1, -1), embedding.reshape(1, -1))[0][0]
    similarities.append((i, similarity))

# Create DataFrame with similarities and first 4 words of each paragraph
df = pd.DataFrame(similarities, columns=['Paragraph', 'Cosine Similarity'])
df['First Four Words'] = [p.split()[:4] for p in last_paragraph[1:]]
df

   Paragraph  Cosine Similarity                    First Four Words
0          1           0.849937       [In, conclusion,, the, issue]
1          2           0.870404         [In, conclusion,, the, FIA]
2          3           0.823981  [The, Premier, League's, decision]
3          4           0.863704     [In, conclusion,, the, decline]

In [ ]:
# Get the embeddings for the first paragraph
input_ids = torch.tensor(tokenizer.encode(last_paragraph_h[0], add_special_tokens=True)).unsqueeze(0)
outputs = model(input_ids)
first_embedding = outputs.last_hidden_state.mean(dim=1).squeeze().detach().numpy()

# Calculate cosine similarity for each paragraph and store results in DataFrame
similarities = []
for i in range(1, len(last_paragraph)):
    input_ids = torch.tensor(tokenizer.encode(last_paragraph_h[i], add_special_tokens=True)).unsqueeze(0)
    outputs = model(input_ids)
    embedding = outputs.last_hidden_state.mean(dim=1).squeeze().detach().numpy()
    similarity = cosine_similarity(first_embedding.reshape(1, -1), embedding.reshape(1, -1))[0][0]
    similarities.append((i, similarity))

# Create DataFrame with similarities and first 4 words of each paragraph
df = pd.DataFrame(similarities, columns=['Paragraph', 'Cosine Similarity'])
df['First Four Words'] = [p.split()[:4] for p in last_paragraph_h[1:]]
df

   Paragraph  Cosine Similarity             First Four Words
0          1           0.825249      [“We, all, know, there]
1          2           0.747916       ["So, you, will, have]
2          3           0.752782        ['BT, has, ended, up]
3          4           0.572435  [In, Seoul,, South, Korea,]

#### Creating BERT Dataset

In [ ]:
df_n_last_h=get_cs_sim(last_paragraph_h_n)

In [ ]:
df_n_last_h["generator"] = "human"
df_n_last_h["prompt"] = "news"

In [ ]:
df_n_last_h

    Articl1  Article2  Cosine Similarity generator prompt
0         1         1           1.000000     human   news
1         1         2           0.825249     human   news
2         1         3           0.747916     human   news
3         1         4           0.752782     human   news
4         1         5           0.572435     human   news
5         2         1           0.825249     human   news
6         2         2           1.000000     human   news
7         2         3           0.751814     human   news
8         2         4           0.738328     human   news
9         2         5           0.489363     human   news
10        3         1           0.747916     human   news
11        3         2           0.751814     human   news
12        3         3           1.000000     human   news
13        3         4           0.654475     human   news
14        3         5           0.521697     human   news
15        4         1           0.752782     human   news
16        4         2           0.738328     human   news
17        4         3           0.654475     human   news
18        4         4           1.000000     human   news
19        4         5           0.569189     human   news
20        5         1           0.572435     human   news
21        5         2           0.489363     human   news
22        5         3           0.521697     human   news
23        5         4           0.569189     human   news
24        5         5           1.000000     human   news

In [ ]:
df_n_last_a=get_cs_sim(last_paragraph_a_n)

In [ ]:
df_n_last_a["generator"] = "ai"
df_n_last_a["prompt"] = "news"

In [ ]:
df_n_last_a

    Articl1  Article2  Cosine Similarity generator prompt
0         1         1           1.000000        ai   news
1         1         2           0.849937        ai   news
2         1         3           0.870404        ai   news
3         1         4           0.823981        ai   news
4         1         5           0.863704        ai   news
5         2         1           0.849937        ai   news
6         2         2           1.000000        ai   news
7         2         3           0.857068        ai   news
8         2         4           0.822199        ai   news
9         2         5           0.861856        ai   news
10        3         1           0.870404        ai   news
11        3         2           0.857068        ai   news
12        3         3           1.000000        ai   news
13        3         4           0.839720        ai   news
14        3         5           0.873535        ai   news
15        4         1           0.823981        ai   news
16        4         2           0.822199        ai   news
17        4         3           0.839720        ai   news
18        4         4           1.000000        ai   news
19        4         5           0.827710        ai   news
20        5         1           0.863704        ai   news
21        5         2           0.861856        ai   news
22        5         3           0.873535        ai   news
23        5         4           0.827710        ai   news
24        5         5           1.000000        ai   news

### Blog

#### Reading Articles

In [ ]:
file_path = "/content/drive/Shareddrives/Comp440/articles txt version/Medium Blog Post/(AI)AR _ VR _ MR Technology Trends Review.txt"
b1a = read_paragraph(file_path)
file_path = "/content/drive/Shareddrives/Comp440/articles txt version/Medium Blog Post/(AI)Blockchain Bling_ How NFTs Are Revolutionizing The Luxury Industry.txt"
b2a = read_paragraph(file_path)
file_path = "/content/drive/Shareddrives/Comp440/articles txt version/Medium Blog Post/(AI)How Will the CryptoFlix Film Market Place Work_.txt"
b3a = read_paragraph(file_path)
file_path = "/content/drive/Shareddrives/Comp440/articles txt version/Medium Blog Post/(AI)The upside of a downturn_.txt"
b4a = read_paragraph(file_path)
file_path = "/content/drive/Shareddrives/Comp440/articles txt version/Medium Blog Post/(AI)Travel Highlights in Portugal_ Lisbon to Porto.txt"
b5a = read_paragraph(file_path)

#### Store Articles to List

In [ ]:
first_paragraphs_a_b = [b1a[0],b2a[0],b3a[0],b4a[0],b5a[0]]

In [ ]:
# Get the embeddings for the first paragraph
input_ids = torch.tensor(tokenizer.encode(first_paragraphs[0], add_special_tokens=True)).unsqueeze(0)
outputs = model(input_ids)
first_embedding = outputs.last_hidden_state.mean(dim=1).squeeze().detach().numpy()

# Calculate cosine similarity for each paragraph and store results in DataFrame
similarities = []
for i in range(1, len(last_paragraph)):
    input_ids = torch.tensor(tokenizer.encode(first_paragraphs[i], add_special_tokens=True)).unsqueeze(0)
    outputs = model(input_ids)
    embedding = outputs.last_hidden_state.mean(dim=1).squeeze().detach().numpy()
    similarity = cosine_similarity(first_embedding.reshape(1, -1), embedding.reshape(1, -1))[0][0]
    similarities.append((i, similarity))

# Create DataFrame with similarities and first 4 words of each paragraph
df = pd.DataFrame(similarities, columns=['Paragraph', 'Cosine Similarity'])
df['First Four Words'] = [p.split()[:4] for p in first_paragraphs[1:]]
df

   Paragraph  Cosine Similarity               First Four Words
0          1           0.834554  [The, rise, of, non-fungible]
1          2           0.845976     [The, film, industry, has]
2          3           0.813050       [It's, no, secret, that]
3          4           0.770009   [Portugal, has, become, one]

#### Creating BERT Dataset AI

In [ ]:
df_b_first_a=get_cs_sim(first_paragraphs_a_b)

In [ ]:
df_b_first_a["generator"] = "ai"
df_b_first_a["prompt"] = "blog"

In [ ]:
df_b_first_a

    Articl1  Article2  Cosine Similarity generator prompt
0         1         1           1.000000        ai   blog
1         1         2           0.834554        ai   blog
2         1         3           0.845976        ai   blog
3         1         4           0.813050        ai   blog
4         1         5           0.770009        ai   blog
5         2         1           0.834554        ai   blog
6         2         2           1.000000        ai   blog
7         2         3           0.907652        ai   blog
8         2         4           0.851434        ai   blog
9         2         5           0.816806        ai   blog
10        3         1           0.845976        ai   blog
11        3         2           0.907652        ai   blog
12        3         3           1.000000        ai   blog
13        3         4           0.865910        ai   blog
14        3         5           0.784329        ai   blog
15        4         1           0.813050        ai   blog
16        4         2           0.851434        ai   blog
17        4         3           0.865910        ai   blog
18        4         4           1.000000        ai   blog
19        4         5           0.798381        ai   blog
20        5         1           0.770009        ai   blog
21        5         2           0.816806        ai   blog
22        5         3           0.784329        ai   blog
23        5         4           0.798381        ai   blog
24        5         5           1.000000        ai   blog

#### Reading Articles

In [ ]:
file_path = "/content/drive/Shareddrives/Comp440/articles txt version/Medium Blog Post/(Human)AR _ VR _ MR Technology Trends Review.txt"
b1h = read_paragraph(file_path)
file_path = "/content/drive/Shareddrives/Comp440/articles txt version/Medium Blog Post/(Human)Blockchain Bling_ How NFTs Are Revolutionizing The Luxury Industry.txt"
b2h = read_paragraph(file_path)
file_path = "/content/drive/Shareddrives/Comp440/articles txt version/Medium Blog Post/(Human)How Will the CryptoFlix Film Market Place Work_.txt"
b3h = read_paragraph(file_path)
file_path = "/content/drive/Shareddrives/Comp440/articles txt version/Medium Blog Post/(Human)The upside of a downturn_.txt"
b4h = read_paragraph(file_path)
file_path = "/content/drive/Shareddrives/Comp440/articles txt version/Medium Blog Post/(Human)Travel Highlights in Portugal_ Lisbon to Porto.txt"
b5h = read_paragraph(file_path)

#### Store Article into List

In [ ]:
first_paragraphs_h_b = [b1h[0],b2h[0],b3h[0],b4h[0],b5h[0]]

In [ ]:

# Get the embeddings for the first paragraph
input_ids = torch.tensor(tokenizer.encode(first_paragraphs[0], add_special_tokens=True)).unsqueeze(0)
outputs = model(input_ids)
first_embedding = outputs.last_hidden_state.mean(dim=1).squeeze().detach().numpy()

# Calculate cosine similarity for each paragraph and store results in DataFrame
similarities = []
for i in range(1, len(last_paragraph)):
    input_ids = torch.tensor(tokenizer.encode(first_paragraphs[i], add_special_tokens=True)).unsqueeze(0)
    outputs = model(input_ids)
    embedding = outputs.last_hidden_state.mean(dim=1).squeeze().detach().numpy()
    similarity = cosine_similarity(first_embedding.reshape(1, -1), embedding.reshape(1, -1))[0][0]
    similarities.append((i, similarity))

# Create DataFrame with similarities and first 4 words of each paragraph
df = pd.DataFrame(similarities, columns=['Paragraph', 'Cosine Similarity'])
df['First Four Words'] = [p.split()[:4] for p in first_paragraphs[1:]]
df

   Paragraph  Cosine Similarity                    First Four Words
0          1           0.813157  [In, recent, years,, non-fungible]
1          2           0.867873           [There, have, been, some]
2          3           0.703070              [The, boom, times, of]
3          4           0.838939                  [A, true, gem, of]

#### Creating BERT Dataset Human

In [ ]:
df_b_first_h=get_cs_sim(first_paragraphs_h_b)

In [ ]:
df_b_first_h["generator"] = "human"
df_b_first_h["prompt"] = "blog"

In [ ]:
df_b_first_h

    Articl1  Article2  Cosine Similarity generator prompt
0         1         1           1.000000     human   blog
1         1         2           0.813157     human   blog
2         1         3           0.867872     human   blog
3         1         4           0.703070     human   blog
4         1         5           0.838939     human   blog
5         2         1           0.813157     human   blog
6         2         2           1.000000     human   blog
7         2         3           0.802868     human   blog
8         2         4           0.688363     human   blog
9         2         5           0.804055     human   blog
10        3         1           0.867872     human   blog
11        3         2           0.802868     human   blog
12        3         3           1.000000     human   blog
13        3         4           0.678402     human   blog
14        3         5           0.810432     human   blog
15        4         1           0.703070     human   blog
16        4         2           0.688363     human   blog
17        4         3           0.678402     human   blog
18        4         4           1.000000     human   blog
19        4         5           0.699156     human   blog
20        5         1           0.838939     human   blog
21        5         2           0.804055     human   blog
22        5         3           0.810432     human   blog
23        5         4           0.699156     human   blog
24        5         5           1.000000     human   blog

#### last

In [ ]:
last_paragraphs_a_b = [b1a[len(b1a)-1],b2a[len(b2a)-1],b3a[len(b3a)-1],b4a[len(b4a)-1],b5a[len(b5a)-1]]

In [ ]:
# Get the embeddings for the first paragraph
input_ids = torch.tensor(tokenizer.encode(first_paragraphs[0], add_special_tokens=True)).unsqueeze(0)
outputs = model(input_ids)
first_embedding = outputs.last_hidden_state.mean(dim=1).squeeze().detach().numpy()

# Calculate cosine similarity for each paragraph and store results in DataFrame
similarities = []
for i in range(1, len(last_paragraph)):
    input_ids = torch.tensor(tokenizer.encode(first_paragraphs[i], add_special_tokens=True)).unsqueeze(0)
    outputs = model(input_ids)
    embedding = outputs.last_hidden_state.mean(dim=1).squeeze().detach().numpy()
    similarity = cosine_similarity(first_embedding.reshape(1, -1), embedding.reshape(1, -1))[0][0]
    similarities.append((i, similarity))

# Create DataFrame with similarities and first 4 words of each paragraph
df = pd.DataFrame(similarities, columns=['Paragraph', 'Cosine Similarity'])
df['First Four Words'] = [p.split()[:4] for p in first_paragraphs[1:]]
df

   Paragraph  Cosine Similarity                        First Four Words
0          1           0.873298  [Overall,, NFTs, are, revolutionizing]
1          2           0.809654      [In, conclusion,, the, CryptoFlix]
2          3           0.855364       [In, conclusion,, downturns, can]
3          4           0.731910          [In, conclusion,, Lisbon, and]

#### Creating BERT Dataset AI

In [ ]:
df_b_last_a=get_cs_sim(last_paragraphs_a_b)

In [ ]:
df_b_last_a["generator"] = "ai"
df_b_last_a["prompt"] = "blog"

In [ ]:
df_b_last_a

    Articl1  Article2  Cosine Similarity generator prompt
0         1         1           1.000000        ai   blog
1         1         2           0.873298        ai   blog
2         1         3           0.809654        ai   blog
3         1         4           0.855364        ai   blog
4         1         5           0.731910        ai   blog
5         2         1           0.873298        ai   blog
6         2         2           1.000000        ai   blog
7         2         3           0.860026        ai   blog
8         2         4           0.920007        ai   blog
9         2         5           0.732008        ai   blog
10        3         1           0.809654        ai   blog
11        3         2           0.860026        ai   blog
12        3         3           1.000000        ai   blog
13        3         4           0.837785        ai   blog
14        3         5           0.701197        ai   blog
15        4         1           0.855364        ai   blog
16        4         2           0.920007        ai   blog
17        4         3           0.837785        ai   blog
18        4         4           1.000000        ai   blog
19        4         5           0.707648        ai   blog
20        5         1           0.731910        ai   blog
21        5         2           0.732008        ai   blog
22        5         3           0.701197        ai   blog
23        5         4           0.707648        ai   blog
24        5         5           1.000000        ai   blog

In [ ]:
last_paragraphs_h_b = [b1h[len(b1h)-1],b2h[len(b2h)-1],b3h[len(b3h)-1],b4h[len(b4h)-1],b5h[len(b5h)-1]]

In [ ]:
# Get the embeddings for the first paragraph
input_ids = torch.tensor(tokenizer.encode(first_paragraphs[0], add_special_tokens=True)).unsqueeze(0)
outputs = model(input_ids)
first_embedding = outputs.last_hidden_state.mean(dim=1).squeeze().detach().numpy()

# Calculate cosine similarity for each paragraph and store results in DataFrame
similarities = []
for i in range(1, len(last_paragraph)):
    input_ids = torch.tensor(tokenizer.encode(first_paragraphs[i], add_special_tokens=True)).unsqueeze(0)
    outputs = model(input_ids)
    embedding = outputs.last_hidden_state.mean(dim=1).squeeze().detach().numpy()
    similarity = cosine_similarity(first_embedding.reshape(1, -1), embedding.reshape(1, -1))[0][0]
    similarities.append((i, similarity))

# Create DataFrame with similarities and first 4 words of each paragraph
df = pd.DataFrame(similarities, columns=['Paragraph', 'Cosine Similarity'])
df['First Four Words'] = [p.split()[:4] for p in first_paragraphs[1:]]
df

   Paragraph  Cosine Similarity               First Four Words
0          1           0.866440           [A, Final, Word, As]
1          2           0.449033        [I, hope, that, helps.]
2          3           0.784092  [Lastly,, recall, that, some]
3          4           0.783430     [Your, time, in, Portugal]

#### Creating BERT Dataset Human

In [ ]:
df_b_last_h=get_cs_sim(last_paragraphs_h_b)

In [ ]:
df_b_last_h["generator"] = "human"
df_b_last_h["prompt"] = "blog"

In [ ]:
df_b_last_h

    Articl1  Article2  Cosine Similarity generator prompt
0         1         1           1.000000     human   blog
1         1         2           0.866440     human   blog
2         1         3           0.449033     human   blog
3         1         4           0.784092     human   blog
4         1         5           0.783430     human   blog
5         2         1           0.866440     human   blog
6         2         2           1.000000     human   blog
7         2         3           0.409237     human   blog
8         2         4           0.812144     human   blog
9         2         5           0.778998     human   blog
10        3         1           0.449033     human   blog
11        3         2           0.409237     human   blog
12        3         3           1.000000     human   blog
13        3         4           0.449673     human   blog
14        3         5           0.495991     human   blog
15        4         1           0.784092     human   blog
16        4         2           0.812144     human   blog
17        4         3           0.449673     human   blog
18        4         4           1.000000     human   blog
19        4         5           0.754138     human   blog
20        5         1           0.783430     human   blog
21        5         2           0.778998     human   blog
22        5         3           0.495991     human   blog
23        5         4           0.754138     human   blog
24        5         5           1.000000     human   blog

### Language

#### Reading Articles

In [ ]:
file_path = "/content/drive/Shareddrives/Comp440/articles txt version/Language Proficiency Exam/(AI)A person you know is planning to move to your town or city._.txt"
e1a = read_paragraph(file_path)
file_path = "/content/drive/Shareddrives/Comp440/articles txt version/Language Proficiency Exam/(AI)Businesses should hire employees for their entire lives_.txt"
e2a = read_paragraph(file_path)
file_path = "/content/drive/Shareddrives/Comp440/articles txt version/Language Proficiency Exam/(AI)Do you agree or disagree with the following statement_ Telephones.txt"
e3a = read_paragraph(file_path)
file_path = "/content/drive/Shareddrives/Comp440/articles txt version/Language Proficiency Exam/(AI)Do you agree or disagree with the following statement__.txt"
e4a = read_paragraph(file_path)
file_path = "/content/drive/Shareddrives/Comp440/articles txt version/Language Proficiency Exam/(AI)Some people believe that success in life comes from taking risks or chances_.txt"
e5a = read_paragraph(file_path)

#### Store Articles to List

In [ ]:
first_paragraphs_a_e = [e1a[0],e2a[0],e3a[0],e4a[0],e5a[0]]

In [ ]:
# Get the embeddings for the first paragraph
input_ids = torch.tensor(tokenizer.encode(first_paragraphs[0], add_special_tokens=True)).unsqueeze(0)
outputs = model(input_ids)
first_embedding = outputs.last_hidden_state.mean(dim=1).squeeze().detach().numpy()

# Calculate cosine similarity for each paragraph and store results in DataFrame
similarities = []
for i in range(1, len(last_paragraph)):
    input_ids = torch.tensor(tokenizer.encode(first_paragraphs[i], add_special_tokens=True)).unsqueeze(0)
    outputs = model(input_ids)
    embedding = outputs.last_hidden_state.mean(dim=1).squeeze().detach().numpy()
    similarity = cosine_similarity(first_embedding.reshape(1, -1), embedding.reshape(1, -1))[0][0]
    similarities.append((i, similarity))

# Create DataFrame with similarities and first 4 words of each paragraph
df = pd.DataFrame(similarities, columns=['Paragraph', 'Cosine Similarity'])
df['First Four Words'] = [p.split()[:4] for p in first_paragraphs[1:]]
df

   Paragraph  Cosine Similarity                             First Four Words
0          1           0.844017          [In, today's, fast-paced, business]
1          2           0.817356                   [The, use, of, technology]
2          3           0.770848  [Technology, has, undoubtedly, transformed]
3          4           0.842734                    [The, question, of, what]

#### Creating BERT Dataset AI

In [ ]:
df_e_first_a=get_cs_sim(first_paragraphs_a_e)

In [ ]:
df_e_first_a["generator"] = "ai"
df_e_first_a["prompt"] = "exam"

In [ ]:
df_e_first_a

    Articl1  Article2  Cosine Similarity generator prompt
0         1         1           1.000000        ai   exam
1         1         2           0.809686        ai   exam
2         1         3           0.801167        ai   exam
3         1         4           0.841978        ai   exam
4         1         5           0.810548        ai   exam
5         2         1           0.809686        ai   exam
6         2         2           1.000000        ai   exam
7         2         3           0.873148        ai   exam
8         2         4           0.887080        ai   exam
9         2         5           0.876640        ai   exam
10        3         1           0.801167        ai   exam
11        3         2           0.873148        ai   exam
12        3         3           1.000000        ai   exam
13        3         4           0.929614        ai   exam
14        3         5           0.855478        ai   exam
15        4         1           0.841978        ai   exam
16        4         2           0.887080        ai   exam
17        4         3           0.929614        ai   exam
18        4         4           1.000000        ai   exam
19        4         5           0.876079        ai   exam
20        5         1           0.810548        ai   exam
21        5         2           0.876640        ai   exam
22        5         3           0.855478        ai   exam
23        5         4           0.876079        ai   exam
24        5         5           1.000000        ai   exam

In [ ]:
file_path = "/content/drive/Shareddrives/Comp440/articles txt version/Language Proficiency Exam/(Human)A person you know is planning to move to your town or city._.txt"
e1h = read_paragraph(file_path)
file_path = "/content/drive/Shareddrives/Comp440/articles txt version/Language Proficiency Exam/(Human)Businesses should hire employees for their entire lives._.txt"
e2h = read_paragraph(file_path)
file_path = "/content/drive/Shareddrives/Comp440/articles txt version/Language Proficiency Exam/(Human)Do you agree or disagree with the following statement_ Telephones.txt"
e3h = read_paragraph(file_path)
file_path = "/content/drive/Shareddrives/Comp440/articles txt version/Language Proficiency Exam/(Human)Do you agree or disagree with the following statement_.txt"
e4h = read_paragraph(file_path)
file_path = "/content/drive/Shareddrives/Comp440/articles txt version/Language Proficiency Exam/(Human)Some people believe that success in life comes from taking risks or chances._.txt"
e5h = read_paragraph(file_path)

#### Store Articles to List

In [ ]:
first_paragraphs_h_e = [e1h[0],e2h[0],e3h[0],e4h[0],e5h[0]]

In [ ]:

# Get the embeddings for the first paragraph
input_ids = torch.tensor(tokenizer.encode(first_paragraphs[0], add_special_tokens=True)).unsqueeze(0)
outputs = model(input_ids)
first_embedding = outputs.last_hidden_state.mean(dim=1).squeeze().detach().numpy()

# Calculate cosine similarity for each paragraph and store results in DataFrame
similarities = []
for i in range(1, len(last_paragraph)):
    input_ids = torch.tensor(tokenizer.encode(first_paragraphs[i], add_special_tokens=True)).unsqueeze(0)
    outputs = model(input_ids)
    embedding = outputs.last_hidden_state.mean(dim=1).squeeze().detach().numpy()
    similarity = cosine_similarity(first_embedding.reshape(1, -1), embedding.reshape(1, -1))[0][0]
    similarities.append((i, similarity))

# Create DataFrame with similarities and first 4 words of each paragraph
df = pd.DataFrame(similarities, columns=['Paragraph', 'Cosine Similarity'])
df['First Four Words'] = [p.split()[:4] for p in first_paragraphs[1:]]
df

   Paragraph  Cosine Similarity              First Four Words
0          1           0.801222     [Job, security, is, very]
1          2           0.773471    [At, first, glance,, this]
2          3           0.770163     [The, Internet, and, the]
3          4           0.785197  [The, question, about, what]

#### Creating BERT Dataset Human

In [ ]:
df_e_first_h=get_cs_sim(first_paragraphs_h_e)

In [ ]:
df_e_first_h["generator"] = "human"
df_e_first_h["prompt"] = "exam"

In [ ]:
df_e_first_h

    Articl1  Article2  Cosine Similarity generator prompt
0         1         1           1.000000     human   blog
1         1         2           0.801221     human   blog
2         1         3           0.773471     human   blog
3         1         4           0.770163     human   blog
4         1         5           0.785197     human   blog
5         2         1           0.801221     human   blog
6         2         2           1.000000     human   blog
7         2         3           0.790473     human   blog
8         2         4           0.812546     human   blog
9         2         5           0.877707     human   blog
10        3         1           0.773471     human   blog
11        3         2           0.790473     human   blog
12        3         3           1.000000     human   blog
13        3         4           0.766639     human   blog
14        3         5           0.823279     human   blog
15        4         1           0.770163     human   blog
16        4         2           0.812546     human   blog
17        4         3           0.766639     human   blog
18        4         4           1.000000     human   blog
19        4         5           0.812321     human   blog
20        5         1           0.785197     human   blog
21        5         2           0.877707     human   blog
22        5         3           0.823279     human   blog
23        5         4           0.812321     human   blog
24        5         5           1.000000     human   blog

#### last

In [ ]:
last_paragraphs_a_e = [e1a[len(e1a)-1],e2a[len(e2a)-1],e3a[len(e3a)-1],e4a[len(e4a)-1],e5a[len(e5a)-1]]

In [ ]:
# Get the embeddings for the first paragraph
input_ids = torch.tensor(tokenizer.encode(first_paragraphs[0], add_special_tokens=True)).unsqueeze(0)
outputs = model(input_ids)
first_embedding = outputs.last_hidden_state.mean(dim=1).squeeze().detach().numpy()

# Calculate cosine similarity for each paragraph and store results in DataFrame
similarities = []
for i in range(1, len(last_paragraph)):
    input_ids = torch.tensor(tokenizer.encode(first_paragraphs[i], add_special_tokens=True)).unsqueeze(0)
    outputs = model(input_ids)
    embedding = outputs.last_hidden_state.mean(dim=1).squeeze().detach().numpy()
    similarity = cosine_similarity(first_embedding.reshape(1, -1), embedding.reshape(1, -1))[0][0]
    similarities.append((i, similarity))

# Create DataFrame with similarities and first 4 words of each paragraph
df = pd.DataFrame(similarities, columns=['Paragraph', 'Cosine Similarity'])
df['First Four Words'] = [p.split()[:4] for p in first_paragraphs[1:]]
df

   Paragraph  Cosine Similarity                      First Four Words
0          1           0.809686        [In, conclusion,, I, disagree]
1          2           0.801167        [In, conclusion,, I, strongly]
2          3           0.841978  [In, conclusion,, while, technology]
3          4           0.810548      [In, conclusion,, while, taking]

#### Creating BERT Datast AI

In [ ]:
df_e_last_a=get_cs_sim(last_paragraphs_a_e)

In [ ]:
df_e_last_a["generator"] = "ai"
df_e_last_a["prompt"] = "exam"

In [ ]:
df_e_last_a

    Articl1  Article2  Cosine Similarity generator prompt
0         1         1           1.000000        ai   blog
1         1         2           0.809686        ai   blog
2         1         3           0.801167        ai   blog
3         1         4           0.841978        ai   blog
4         1         5           0.810548        ai   blog
5         2         1           0.809686        ai   blog
6         2         2           1.000000        ai   blog
7         2         3           0.873148        ai   blog
8         2         4           0.887080        ai   blog
9         2         5           0.876640        ai   blog
10        3         1           0.801167        ai   blog
11        3         2           0.873148        ai   blog
12        3         3           1.000000        ai   blog
13        3         4           0.929614        ai   blog
14        3         5           0.855478        ai   blog
15        4         1           0.841978        ai   blog
16        4         2           0.887080        ai   blog
17        4         3           0.929614        ai   blog
18        4         4           1.000000        ai   blog
19        4         5           0.876079        ai   blog
20        5         1           0.810548        ai   blog
21        5         2           0.876640        ai   blog
22        5         3           0.855478        ai   blog
23        5         4           0.876079        ai   blog
24        5         5           1.000000        ai   blog

In [ ]:
# Get the embeddings for the first paragraph
# input_ids = torch.tensor(tokenizer.encode(first_paragraphs[1], add_special_tokens=True)).unsqueeze(0)
# outputs = model(input_ids)
# first_embedding = outputs.last_hidden_state.mean(dim=1).squeeze().detach().numpy()

# Calculate cosine similarity for each paragraph and store results in DataFrame
similarities = []
for i in range(0, 5):
  input_ids_a = torch.tensor(tokenizer.encode(first_paragraphs[i], add_special_tokens=True)).unsqueeze(0)
  outputs_a = model(input_ids_a)
  first_embedding = outputs_a.last_hidden_state.mean(dim=1).squeeze().detach().numpy()
  for j in range(0, 5):
    input_ids = torch.tensor(tokenizer.encode(first_paragraphs[j], add_special_tokens=True)).unsqueeze(0)
    outputs = model(input_ids)
    embedding = outputs.last_hidden_state.mean(dim=1).squeeze().detach().numpy()
    similarity = cosine_similarity(first_embedding.reshape(1, -1), embedding.reshape(1, -1))[0][0]
    similarities.append((i+1, j+1, similarity))

# Create DataFrame with similarities and first 4 words of each paragraph
df_e_a = pd.DataFrame(similarities, columns=['Articl1', "Article2", 'Cosine Similarity'])
# df['First Four Words'] = [p.split()[:5] for p in first_paragraphs[0:]]
df_e_a["generator"] = "ai"
df_e_a["prompt"] = "language exam"

In [ ]:
df = get_cs_sim(first_paragraphs)
df

    Articl1  Article2  Cosine Similarity
0         1         1           1.000000
1         1         2           0.809686
2         1         3           0.801167
3         1         4           0.841978
4         1         5           0.810548
5         2         1           0.809686
6         2         2           1.000000
7         2         3           0.873148
8         2         4           0.887080
9         2         5           0.876640
10        3         1           0.801167
11        3         2           0.873148
12        3         3           1.000000
13        3         4           0.929614
14        3         5           0.855478
15        4         1           0.841978
16        4         2           0.887080
17        4         3           0.929614
18        4         4           1.000000
19        4         5           0.876079
20        5         1           0.810548
21        5         2           0.876640
22        5         3           0.855478
23        5         4           0.876079
24        5         5           1.000000

#### Store Dataset to List

In [ ]:
last_paragraphs_h_e = [e1h[len(e1h)-1],e2h[len(e2h)-1],e3h[len(e3h)-1],e4h[len(e4h)-1],e5h[len(e5h)-1]]

In [ ]:

# Get the embeddings for the first paragraph
input_ids = torch.tensor(tokenizer.encode(first_paragraphs[0], add_special_tokens=True)).unsqueeze(0)
outputs = model(input_ids)
first_embedding = outputs.last_hidden_state.mean(dim=1).squeeze().detach().numpy()

# Calculate cosine similarity for each paragraph and store results in DataFrame
similarities = []
for i in range(1, len(last_paragraph)):
    input_ids = torch.tensor(tokenizer.encode(first_paragraphs[i], add_special_tokens=True)).unsqueeze(0)
    outputs = model(input_ids)
    embedding = outputs.last_hidden_state.mean(dim=1).squeeze().detach().numpy()
    similarity = cosine_similarity(first_embedding.reshape(1, -1), embedding.reshape(1, -1))[0][0]
    similarities.append((i, similarity))

# Create DataFrame with similarities and first 4 words of each paragraph
df = pd.DataFrame(similarities, columns=['Paragraph', 'Cosine Similarity'])
df['First Four Words'] = [p.split()[:4] for p in first_paragraphs[1:]]
df

   Paragraph  Cosine Similarity                           First Four Words
0          1           0.733483                  [In, short,, I, disagree]
1          2           0.700581         [In, conclusion,, telephones, and]
2          3           0.683598  [Technology,, especially, the, Internet,]
3          4           0.752661                   [From, the, above, what]

In [ ]:
# Get the embeddings for the first paragraph
input_ids = torch.tensor(tokenizer.encode(first_paragraphs[1], add_special_tokens=True)).unsqueeze(0)
outputs = model(input_ids)
first_embedding = outputs.last_hidden_state.mean(dim=1).squeeze().detach().numpy()

# Calculate cosine similarity for each paragraph and store results in DataFrame
similarities = []
for i in range(0, len(last_paragraph)):
    input_ids = torch.tensor(tokenizer.encode(first_paragraphs[i], add_special_tokens=True)).unsqueeze(0)
    outputs = model(input_ids)
    embedding = outputs.last_hidden_state.mean(dim=1).squeeze().detach().numpy()
    similarity = cosine_similarity(first_embedding.reshape(1, -1), embedding.reshape(1, -1))[0][0]
    similarities.append((i, similarity))

# Create DataFrame with similarities and first 4 words of each paragraph
df = pd.DataFrame(similarities, columns=['Paragraph', 'Cosine Similarity'])
df['First Four Words'] = [p.split()[:5] for p in first_paragraphs[0:]]
df

,Paragraph,Cosine Similarity,First Four Words
0,0,0.733483,"[Take, what, I, have, mentioned]"
1,1,1.000000,"[In, short,, I, disagree, that]"
2,2,0.799581,"[In, conclusion,, telephones, and, email]"
3,3,0.776057,"[Technology,, especially, the, Internet,, has]"
4,4,0.826074,"[From, the, above, what, I]"

#### Creating BERT Dataset Human

In [ ]:
df_e_last_h=get_cs_sim(last_paragraphs_h_e)

In [ ]:
df_e_last_h["generator"] = "human"
df_e_last_h["prompt"] = "exam"

In [ ]:
df_e_last_h

    Articl1  Article2  Cosine Similarity generator prompt
0         1         1           1.000000     human   blog
1         1         2           0.733483     human   blog
2         1         3           0.700581     human   blog
3         1         4           0.683598     human   blog
4         1         5           0.752661     human   blog
5         2         1           0.733483     human   blog
6         2         2           1.000000     human   blog
7         2         3           0.799581     human   blog
8         2         4           0.776057     human   blog
9         2         5           0.826074     human   blog
10        3         1           0.700581     human   blog
11        3         2           0.799581     human   blog
12        3         3           1.000000     human   blog
13        3         4           0.830752     human   blog
14        3         5           0.779592     human   blog
15        4         1           0.683598     human   blog
16        4         2           0.776057     human   blog
17        4         3           0.830752     human   blog
18        4         4           1.000000     human   blog
19        4         5           0.731249     human   blog
20        5         1           0.752661     human   blog
21        5         2           0.826074     human   blog
22        5         3           0.779592     human   blog
23        5         4           0.731249     human   blog
24        5         5           1.000000     human   blog

### Creating One Large Dataset for BERT

In [ ]:
BERT_cos_sin_first = pd.concat([df_n_first_h,df_n_first_a,df_b_first_a,df_b_first_h,df_e_first_a,df_e_first_h])
BERT_cos_sin_first["Paragraph Order"]="first"
BERT_cos_sin_first

    Articl1  Article2  Cosine Similarity generator prompt Paragraph Order
0         1         1           1.000000     human   news           first
1         1         2           0.634030     human   news           first
2         1         3           0.668836     human   news           first
3         1         4           0.618220     human   news           first
4         1         5           0.659784     human   news           first
..      ...       ...                ...       ...    ...             ...
20        5         1           0.785197     human   exam           first
21        5         2           0.877707     human   exam           first
22        5         3           0.823279     human   exam           first
23        5         4           0.812321     human   exam           first
24        5         5           1.000000     human   exam           first

[150 rows x 6 columns]

In [ ]:
BERT_cos_sin_last = pd.concat([df_n_last_h,df_n_last_a,df_b_last_a,df_b_last_h,df_e_last_a,df_e_last_h])
BERT_cos_sin_last["Paragraph Order"]="last"
BERT_cos_sin_last

    Articl1  Article2  Cosine Similarity generator prompt Paragraph Order
0         1         1           1.000000     human   news            last
1         1         2           0.825249     human   news            last
2         1         3           0.747916     human   news            last
3         1         4           0.752782     human   news            last
4         1         5           0.572435     human   news            last
..      ...       ...                ...       ...    ...             ...
20        5         1           0.752661     human   exam            last
21        5         2           0.826074     human   exam            last
22        5         3           0.779592     human   exam            last
23        5         4           0.731249     human   exam            last
24        5         5           1.000000     human   exam            last

[150 rows x 6 columns]

In [ ]:
BERT_cos_sin = pd.concat([BERT_cos_sin_first,BERT_cos_sin_last])
BERT_cos_sin

    Articl1  Article2  Cosine Similarity generator prompt Paragraph Order
0         1         1           1.000000     human   news           first
1         1         2           0.634030     human   news           first
2         1         3           0.668836     human   news           first
3         1         4           0.618220     human   news           first
4         1         5           0.659784     human   news           first
..      ...       ...                ...       ...    ...             ...
20        5         1           0.752661     human   exam            last
21        5         2           0.826074     human   exam            last
22        5         3           0.779592     human   exam            last
23        5         4           0.731249     human   exam            last
24        5         5           1.000000     human   exam            last

[300 rows x 6 columns]

In [ ]:
BERT_cos_sin.to_csv('BERT_cos_sin.csv', index=False)

In [ ]:
#from google.colab import files
#files.download('BERT_cos_sin.csv')

### Reading BERT Dataset

In [ ]:
# read the dataset from the stored csv file
BERT_cos_sin = pd.read_csv('/content/drive/Shareddrives/Comp440/articles txt version/BERT_cos_sin.csv')
BERT_cos_sin

     Articl1  Article2  Cosine Similarity generator prompt Paragraph Order
0          1         1           1.000000     human   news           first
1          1         2           0.634030     human   news           first
2          1         3           0.668836     human   news           first
3          1         4           0.618220     human   news           first
4          1         5           0.659784     human   news           first
..       ...       ...                ...       ...    ...             ...
295        5         1           0.752660     human   exam            last
296        5         2           0.826074     human   exam            last
297        5         3           0.779592     human   exam            last
298        5         4           0.731249     human   exam            last
299        5         5           1.000000     human   exam            last

[300 rows x 6 columns]

#### Useless, compare human ai last

In [ ]:
# Calculate cosine similarity for each paragraph and store results in DataFrame
similarities = []
for i in range(0, len(last_paragraph)):
    input_ids = torch.tensor(tokenizer.encode(last_paragraph[i], add_special_tokens=True)).unsqueeze(0)
    outputs = model(input_ids)
    first_embedding = outputs.last_hidden_state.mean(dim=1).squeeze().detach().numpy()

    input_ids_h = torch.tensor(tokenizer.encode(last_paragraph_h[i], add_special_tokens=True)).unsqueeze(0)
    outputs_h = model(input_ids_h)
    embedding_h = outputs_h.last_hidden_state.mean(dim=1).squeeze().detach().numpy()
    similarity = cosine_similarity(first_embedding.reshape(1, -1), embedding_h.reshape(1, -1))

    similarities.append((i, similarity))

# Create DataFrame with similarities and first 4 words of each paragraph
df = pd.DataFrame(similarities, columns=['Paragraph', 'Cosine Similarity'])
df

   Paragraph Cosine Similarity
0          0     [[0.9064493]]
1          1     [[0.7723796]]
2          2     [[0.7365781]]
3          3    [[0.80343693]]
4          4     [[0.7047642]]

### Testing another method First generate the emdding array then compare consine similarity

In [ ]:

# Load the BERT tokenizer and model
#tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
#model = BertModel.from_pretrained('bert-base-uncased', output_hidden_states=True)

# Initialize an empty list to store paragraph embeddings
#paragraph_embeddings = []

# Generate BERT embeddings for each paragraph
#for paragraph in ai_paragraphs_no_title1:
  # Preprocess the paragraph using the BERT tokenizer
  #tokens = tokenizer.tokenize(paragraph)
  #indexed_tokens = tokenizer.convert_tokens_to_ids(tokens)
  #segments = [1] * len(tokens)
  #tokens_tensor = torch.tensor([indexed_tokens])
  #segments_tensor = torch.tensor([segments])

  # Pass the paragraph through the BERT model to generate the embedding
  #with torch.no_grad():
    #outputs = model(tokens_tensor, segments_tensor)
   # hidden_states = outputs[2]
   # sentence_embedding = torch.mean(hidden_states[-2], dim=1).squeeze().detach().numpy()

  # Append the paragraph embedding to the list
 # paragraph_embeddings.append(sentence_embedding)

# Convert the list of embeddings to a matrix
#paragraph_embeddings = np.array(paragraph_embeddings)

##### An Easy Way

In [ ]:
# find the most similar paragrph within this articles just for testing
# this consine similarity could be later use as the across article comparison to check the homogenization of the ai articles 
# also their similarities among human articles
#from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
#cosine_similarity(
    #[paragraph_embeddings[0]],
   # paragraph_embeddings[1:]
#)

## Human Article

### First Article

In [ ]:
# Define the path to the text file in Colab
#content/drive/My Drive/folder name/ file name or just copy path from the left panel
file_path = '/content/drive/Shareddrives/Comp440/articles txt version/News/(Human)2015 smashes record for hottest year, final figures confirm.txt'

# read article
with open(file_path, 'r') as f:
    human_news_2015 = f.read()

In [ ]:
# Split paragraphs by two new lines
human_paragraphs1 = human_news_2015.split('\n\n') 
human_paragraphs_no_title1 = human_paragraphs1[1:]

# skip the last paragraph if it is empty
if not human_paragraphs_no_title1[-1].strip():
    human_paragraphs_no_title1 = human_paragraphs_no_title1[:-1]

In [ ]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
import torch
from transformers import BertTokenizer, BertModel

# Load pre-trained BERT model and tokenizer
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
model = BertModel.from_pretrained('bert-base-uncased')

# Get the embeddings for the first paragraph
input_ids = torch.tensor(tokenizer.encode(human_paragraphs_no_title1[0], add_special_tokens=True)).unsqueeze(0)
outputs = model(input_ids)
first_embedding = outputs.last_hidden_state.mean(dim=1).squeeze().detach().numpy()

# Calculate cosine similarity for each paragraph and store results in DataFrame
similarities = []
for i in range(1, len(human_paragraphs_no_title1)):
    input_ids = torch.tensor(tokenizer.encode(human_paragraphs_no_title1[i], add_special_tokens=True)).unsqueeze(0)
    outputs = model(input_ids)
    embedding = outputs.last_hidden_state.mean(dim=1).squeeze().detach().numpy()
    similarity = cosine_similarity(first_embedding.reshape(1, -1), embedding.reshape(1, -1))[0][0]
    similarities.append((i, similarity))

# Create DataFrame with similarities and first 4 words of each paragraph
df = pd.DataFrame(similarities, columns=['Paragraph', 'Cosine Similarity'])
df['First Four Words'] = [p.split()[:4] for p in human_paragraphs_no_title1[1:]]

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.seq_relationship.weight', 'cls.predictions.decoder.weight', 'cls.predictions.transform.LayerNorm.bias', 'cls.seq_relationship.bias', 'cls.predictions.bias', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.dense.weight', 'cls.predictions.transform.LayerNorm.weight']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [ ]:
df

    Paragraph  Cosine Similarity                           First Four Words
0           1           0.781845               [2015, smashed, the, record]
1           2           0.815376            [Data, released, on, Wednesday]
2           3           0.853162          [Temperature, data, released, in]
3           4           0.755647        [Heatwaves, have, scorched, China,]
4           5           0.794190           [The, Paris, agreement, commits]
5           6           0.857311                      [A, strong, El, Niño]
6           7           0.848195                     [“It, is, clear, that]
7           8           0.782994     [Noaa’s, global, temperature, records]
8           9           0.816026                   [Nasa’s, new, data, for]
9          10           0.773715                    [The, Nasa,, Noaa, and]
10         11           0.829229            [There, are, uncertainties, in]
11         12           0.812708                      [Bob, Ward,, at, the]
12         13           0.752132  [Despite, constantly, rising, greenhouse]
13         14           0.809564       [Instead,, natural, climate, cycles]